.footer {
    background-color: #fff;
    border-top: 1px solid #EBEDEF;
    position: fixed;
    bottom: 0;
    width: 100%;
    // height: 92px;
    .btn {
        height: 71px;
    }
}

.footer__inner {
    display: flex;
    justify-content: flex-end;
    padding: 10px 14px;
    .btn-danger {
        position: absolute;
        left: 14px;
    }
}

.footer-space-between {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: relative;
    .left-block {
        padding: 10px 14px;
    }
    .right-block {
        width: 100%;
        padding: 10px 14px;
        display: flex;
        // justify-content: space-between;
        justify-content: flex-end;
    }
}
.footer__buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    & > * {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.footer {
    .btn {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media(max-width: 768px) {
    .footer__inner {
        // display: block;
        // justify-content: flex-end;
        padding: 1px;
        .btn-danger {
            position: static;
            // left: 1px;
        }
        .btn {
            width: 100%;
            border-radius: 0;
            margin-right: 1px;
            height: 61px;
            font-size: 14px;
        }
    }
    .footer-space-between {
        .left-block, .right-block {
            justify-content: flex-start;
            padding: 1px;
        }
        .btn {
            border-radius: 0;
            width: 100%;
            margin-right: 3px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
@media(min-width: 666px) and (max-width: 667px) {
    .footer {
        .btn {
            height: 63px;
            // width: 166px;
            font-size: 14px;
            border-radius: 0;
            margin-right: 1px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .status-circle {
        font-size: 15px;
    }
    .footer__buttons-wrapper {
        width: 100%;
    }
    .footer-space-between {
        .left-block, .right-block {
            justify-content: flex-start;
            padding: 1px;
        }
        .left-block {
            padding-right: 0;
        }
        .btn-danger {
            border-radius: 0;
            margin-right: 3px;
        }
    }
}
@media(max-width: 667px) {
    .quality-footer-button {
        button {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 3;
            }
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(5) {
                order: 2;
            }
            &:nth-child(6) {
                order: 2;
            }
        }
    }
}
@media(min-width: 320px) and (max-width: 665px) {
    .status-circle {
        padding-top: 3px;
    }
    .footer {
        // height: 65px;
        background-color: #fff;
        .btn {
            width: calc(25% - 1px);
            margin-right: 1px;
            border-radius: 0;
            height: 64px;
            font-size: 14px;
            line-height: 16px;
            // width: calc(25vw - 3px);
            &:last-child {
                margin-right: 0;
            }
        }
        &__inner {
            flex-wrap: wrap-reverse;
            &.active {
                height: 64px;
                overflow: hidden;
                &.more {
                    height: auto;
                }
                .btn {
                    margin-bottom: 1px; 
                    &:last-child {
                        margin-right: 1px;  
                    }
                }
            }
        }
    }
    .footer__buttons-wrapper {
        width: 100%;
    }
    .footer-space-between {
        .left-block, .right-block {
            justify-content: flex-start;
            padding: 0;
        }
        .btn-danger {
            border-radius: 0;
            margin-right: 3px;
        }
    }
}