.header-status {
    display: flex;
    background-color: #4f5d73;
    .btn-sidebar:first-child:before {
        content: '';
        display: block;
        position: absolute;
        right: -6px;
        top: 0;
        height: 70%;
        width: 2px;
        background-color: rgba(255, 255, 255, 0.6);
        margin-top: 15%;
    }
}
.line-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F5D73;
    color: #fff;
    // height: 30px;
    height: 60px;
    width: 100%;
    // width: calc(100% - 60px);
    padding: 17px 20px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    position: relative;
    &.first-block {
        width: auto;
        &:before {
            display: none;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: -6px;
            top: 0;
            height: 70%;
            width: 2px;
            background-color: rgba(255, 255, 255, 0.6);
            margin-top: 11%;
            z-index: 1;
        }
    }
    & > * {
        position: relative;
        z-index: 1;
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        // width: 0%;
        width: 100%;
        background-color: transparent;
        transition: 0.3s transform ease-out;
        transform: translateX(-100%);
    }
    &.complete:before {
        width: 100%;
        background-color: $colorSuccess;
        transition: 0.3s transform ease-in;
        transform: translateX(0%);
    }
    &.error:before {
        width: 100%;
        background-color: $colorDanger;
        transition: 0.3s transform ease-out;
        transform: translateX(0%);
    }
    &.center {
        justify-content: center;
    }
    img {
        margin-right: 10px;
    }
}
/* @media(max-width: 480px) {
    .line-status {
        height: 61px;
    }
}
@media(max-width: 375px) {
    .line-status {
        height: 60px;
    }
} */