.sidebar {
    width: 100% /* 300px */;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    transition: .3s ease-out;
    z-index: 5;
    &.open {
        left: 0;
        transition: .3s ease-out;
        // box-shadow: 0px 0 6px 0px black;
    }

    &__close {
        cursor: pointer;
    }

    &__head {
        height: 113px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 16px 23px 15px;
    }

    &__menu {
        height: calc(100vh - 113px - 80px);
        border-top: 1px solid #D8DBE0;
        border-bottom: 1px solid #D8DBE0;
    }

    &__footer {
        position: relative;
        height: 80px;
        width: 100%;
        padding: 30px 15px;
        // background: #fff;
        background: #F4F2FF;
        cursor: pointer;
        &:hover, &:active, &:focus {
            background: #F4F2FF;
        }
        .sidebar__link {
            color: #E55353;
        }
    }
}
.sidebar__image-link {
    display: block;
}
.btn-sidebar.js_open-sidebar {
    padding: 0;
}

.sidebar__menu-li {
    padding: 30px 15px;
    border-bottom: 1px solid #D8DBE0;
    cursor: pointer;
    &:hover, &:active, &:focus {
        background: #F4F2FF;
    }
}
.sidebar__link {
    color: #4F5D73;
    &:hover {
        color: #4F5D73;
        text-decoration: none;
    }
}

@media(min-width: 666px) and (max-width: 667px) {
    .sidebar__head {
        height: 100px;
        padding: 21px 25px 26px 37px;
    }
    .sidebar__menu-li {
        padding: 21px 45px;
    }
    .sidebar__menu {
        height: calc(100vh - 100px - 67px);
    }
    .sidebar__footer {
        height: 67px;
        padding: 20px 45px;
    }
}
@media(min-width: 375px) and (max-width: 665px) {
    .sidebar {
        // height: 100%;
    }
    .sidebar__head {
        height: 71px;
        padding: 7px 14px 17.44px;
    }
    .sidebar__menu {
        height: calc(100vh - 71px - 80px);
    }
    .sidebar__footer {
        padding: 28px 25px;
    }
}