.task-content {
    height: calc(100vh - 148px);
    // height: calc(100vh - 34px - 89px);
    &-without-head {
        // height: calc(100vh - 68px) !important;
        .task-content__body {
            height: inherit;
        }
        .task-content__body__title {
            padding-bottom: 15px;
        }
    }
    &-with-number-tasks {
        .task-content__head {
            height: 60px;
        }
        .task-content__body {
            height: calc(100% - 60px);
        }
    }
    &__body__radios {
        width: 100%;
        max-width: 657px;
        padding: 30px 0 0 60px;
        display: flex;
        flex-wrap: wrap;
        & > * {
            width: calc(100% / 3);
            padding-right: 15px;
            margin-bottom: 30px;
        }
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        height: 84px;
        border-bottom: 1px solid #D8DBE0;
        background-color: #fff;
        /* &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            width: 2px;
            height: 53%;
            background-color: #D8DBE0;
        }
        &:before {
            top: -1px;
            transform: rotate(-22deg);
        }
        &:after {
            bottom: -1px;
            transform: rotate(22deg);
        } */
        &.disabled {
            background-color: #EBEDEF;
            position: relative;
            .blocked {
                width: 50px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: #D8DBE0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .status-circle {
                border: 2px solid $mainFontColor !important;
                background-color: transparent !important;
                color: $mainFontColor;
                @media(max-width: 667px) {
                    background-image: url('./../../static/img/icons/blocked.svg') !important;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 50%;
                    color: transparent;
                }
                &:before {
                    display: none;
                }
            }
        }
        .blocked {
            display: none;
        }
    }
    &__body {
        height: calc(100% - 82px);
        &-inner {
            padding-bottom: 15px;
        }
    }
}

.task-content__head-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // width: 50%;
    width: 100%;
    height: 100%;
    // padding: 15px 40px 15px 88px;
    padding: 15px 14px 15px 50px;
    border-top: 1px solid #DFDFDF;
    position: relative;
    &:not(:nth-child(2)):not(:last-child) {
        max-width: 270px;
    }
    &:nth-child(2) {
        padding-left: 30px;
    }
    &:last-child {
        padding-left: 40px;
    }
    .field-text {
        font-weight: 500;
    }
    &:before {
        content: '';
        position: absolute;
        top: 20px;
        left: calc(100% - 24px);
        width: 48px;
        height: 42px;
        background-color: #fff;
        transform: rotate(-60deg) skew(-30deg);
        border-bottom: 1px solid #DFDFDF;
        border-right: 1px solid #DFDFDF;
        z-index: 1;
    }
    &:last-child:before {
        display: none;
    }
    
    &.active {
        background: #DAFFE6;
        animation: background-pulse 1.5s infinite;
        &:before {
            background-color: #daffe6;
            animation: background-pulse 1.5s infinite;
        }
    }
}

.task-content__body__title {
    padding-top: 35px;
    padding-left: 60px;
}

@keyframes background-pulse {
    0% {
        background: #DAFFE6;
    }

    50% {
        background: darken($color: #DAFFE6, $amount: 5);
    }
   
    100% {
        background: #DAFFE6;
    }
  }

.disabled {
    .task-content__head-card {
        &:before {
            background-color: #ebedef;
        }
    }
}

.status-circle {
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $mainFontColor;
    color: $mainFontColor;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    padding-top: 2px;
    z-index: 2;
    &.active {
        background-color: $colorSuccess;
        color: #fff;
        position: relative;
        border-width: 0;
        // animation: radial-pulse 1.2s infinite;
        /* &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: rgba(46, 184, 92, 0.15);
            transform: translate(-8px, -8px);
            animation: radial-pulse 1s infinite;
        } */
    }
    &.success, &.error {
        color: transparent;
        border-width: 0;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.success {
        background-color: $colorSuccess;
        background-image: url('./../../static/img/icons/success.svg');
    }
    &.error {
        background-color: $colorDanger;
        background-image: url('./../../static/img/icons/error.svg');
    }
}

.task-content__head__title {
    display: block;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: $mainFontColor;
    margin-bottom: 4px;
    &.success {
        color: $colorSuccess;
    }
    &.error {
        color: $colorDanger;
    }
}

.field-group {
    display: flex;
    flex-direction: column;
    &.success {
        .field-text {
            color: $colorSuccess
        }
    }
    &.error {
        .field-text {
            color: $colorDanger
        }
    }
}
.field-label {
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #8A93A2;
}
.field-text {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #4F5D73;
}

.task-content__body{
    &-inner {
        height: 100%;
        overflow: auto;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    .left-block, .right-block {
        width: 50%;
        padding: 20px 40px 20px 60px;
    }
}

.task-content__body {
    .field-group {
        margin-bottom: 20px;
    }
}

.task-content__warnings {
    width: 100%;
    &-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFE7B7;
        padding: 2px 40px 2px 60px;
        margin-top: 8px;
        &:first-child {
            margin-top: 15px;
        }
    }
    &__message {
        font-family: $mainFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 31px;
        letter-spacing: 0.02em;
        color: #4F5D73;
    }
}

.task-content__head-card__content {
    width: calc(100% - 40px);
}

.content-full-width {
    width: 100%;
    padding: 0 60px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    & > * {
        margin-right: 10px;
    }
}

@media(max-width: 1024px) {
    .task-content__head-card, .task-content__warnings-li, .task-content__body .left-block, .task-content__body .right-block {
        padding-left: 30px;
    }
}

@media(max-width: 991px) {
    .task-content__head-card{
        padding-left: 64px;    
    }
    .task-content__warnings-li {
        padding-left: 48px;
    }
    .task-content__body-inner {
        .left-block, .right-block {
            padding-left: 48px;
        }
    }
    .task-content__body__title {
        padding-left: 48px;
    }
    .task-content__head-multiple-blocks {
        .task-content__head-card {
            &:not(.active) {
                width: auto;
                padding-left: 67px;
                padding-right: 67px;
                .task-content__head-card__content {
                    display: none;
                }
            }
            &.active {
                width: 100%;
                max-width: none;
                padding-left: 50px;
            }
        }
    }
}

@keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
    }

    50% {
        box-shadow: 0 0 0 8px rgba(46, 184, 92, 0.15);
    }
   
    100% {
      box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
    }
  }

@media (max-width: 768px) {
    .content-full-width {
        padding: 0 15px;
    }
    .task-content {
        height: calc(100vh - 124px);
    }
    .task-content__head__title {
        font-size: 18px;
    }
    .field-group .field-text {

    }
    .task-content__warnings-li {
        padding-left: 15px;
    }
    .task-content__body-inner .left-block {
        padding-left: 15px;
    }
    .disabled {
        .task-content__head-card:nth-child(2) {
            padding: 15px 20px 15px 65px;
        }
    }
    .task-content__head-card {
        padding: 15px;
    }
    .task-content__body-inner .right-block {
        padding-left: 0;
    }
    .task-content__head-card:last-child {
        padding-left: 35px;
    }
    .task-content__warnings-li {
        padding-right: 15px;
    }
    .task-content__body__title {
        padding-left: 15px;
    }
}

@media/* (min-width: 666px) and  */(max-width: 667px) {
    .disabled {
        .task-content__head-card:nth-child(2) {
            padding: 15px;
        }
    }
    .task-content__head__title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 4px;
    }
    .task-content {
        height: calc(100vh - 124px);
    }
    .task-content__head.disabled .blocked {
        display: none;
    }
    .task-content__head {
        height: 84px;
    }
    .task-content__head-card {
        padding: 22px 15px 10px;
    }
    .task-content__head:before, .task-content__head:after {
        left: 49%;
    }
    .task-content__warnings-li {
        padding-left: 15px;
    }
    .task-content__body-inner .left-block, .task-content__body-inner .right-block {
        padding-left: 15px;
    }
    .task-content__body {
        height: calc(100% - 83px);
    }
    .task-content__head-card {
        &:before {
            display: none;
            top: 22px;
            left: calc(100% - 20px);
            transform: rotate(-63deg) skew(-40deg);
            width: 44px;
            height: 36px;
        }
        &:last-child {
            padding-left: 30px;
        }
    }
    .task-content__head-multiple-blocks {
        .task-content__head-card {
            &:not(.active) {
                display: none;
            }
            &.active {
                padding-left: 15px;
            }
        }
    }
    .task-content__body__radios {
        max-width: 520px;
        padding-left: 15px;
    }
    .task-content__body__radios > * {
        width: 50%;
    }
    .task-content__body__title {
        padding-top: 30px;
    }
}
@media(min-width: 320px) and (max-width: 665px) {
    .disabled .task-content__head-card:before {
        display: none;
    }
    .task-content__head-card {
        padding-top: 24px;
        padding-bottom: 15px;
        &:nth-child(2) {
            height: 89px;
        }
        &:last-child {
            height: 99px;
            padding-left: 15px;
            padding-bottom: 30px;
        }
        &:before {
            top: 77px;
            left: calc(100% - 52px);
            z-index: 1;
            transform: rotate(24deg) skew(-40deg);
            width: 32px;
            height: 24px;
        }
    }
    .task-content__body__radios > * {
        width: 100%;
    }
    .shadow-block:before {
        top: -1px;
    }
    .task-content__head__title {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 4px;
    }
    /* .task-content__head.disabled .blocked {
        display: none;
    } */
    .task-content__body {
        // height: calc(100% - 162px);
        height: calc(100% - 92px);
    }
    .task-content__head {
        flex-wrap: wrap;
        height: auto;
    }
    .task-content__head-card {
        width: 100%;
        &:last-child {
            border-top: 1px solid #DFDFDF;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: -18px;
                right: 62px;
                width: 38px;
                height: 35px;
                background-color: #fff;
                transform: rotate(30deg) skew(-30deg);
                border-bottom: 1px solid #DFDFDF;
                border-right: 1px solid #DFDFDF;
            }
        }
    }
    .disabled .task-content__head-card:last-child:before {
        background-color: #ebedef;
    }
    .task-content__head:before, .task-content__head:after {/* 
        left: auto;
        height: 30px;
        top: 83px; */
        display: none;
    }

    .task-content__body__content {
        flex-wrap: wrap;
        .left-block, .right-block{
            flex: 100%;
        }
        .left-block {
            // padding-bottom: 0;
        }
        .right-block {
            padding-top: 0;
        }
    }
    .task-content {
        height: calc(100vh - 124px);
    }
}