/* Изменения в стандартных стилях аккордеона */
.ui-accordion{width: 100%;}
.ui-accordion .ui-accordion-header{
    margin:0;
    background-color: rgb(255,255,255);
}
.ui-accordion-header-active{
    background-color: rgb(242,242,243)!important;
    border-top:1px solid #C9C9C9!important;
    border-bottom:1px solid rgba(0,0,0,0)!important;
}

.ui-accordion-header{
    border-radius: 0;
    justify-content: space-between;
    padding: 20px 15px 15px 15px!important;
    border:0;
    border-bottom:1px solid #C9C9C9;
    border-top:1px solid #C9C9C9;
}
.ui-accordion-header:hover{
    background-color: rgb(242,242,243);
}
.ui-accordion-header:focus{
    border:none;
    outline: none;
}
.ui-accordion-content-active{
    background-color: rgb(242,242,243);
    margin-top:0;
    
   
}
.ui-accordion-content{
    border:0px;
    padding:0!important;
}
.ui-icon-triangle-1-e{
    display:none!important;
}
.ui-accordion-header-icon {
    display: none!important;
}
/* /Изменения в стандартных стилях аккордеона */

/* Добавленные классы */
.accordion-title{
    font-size: 20px;
    color:#3C4B64;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
   
}
.accordion-header_svg{
    position: absolute;
    right: 15px;
    top:17px;
}
.accordion-header_svg-warning{
    position: absolute;
    right: 50px;
    width: 25px;
    height: 25px;
    top :17px;
}  
.accordeon-warnings-li{
    margin-top: 0!important;
}
.accordion-content-block{
    padding: 15px;
    width: 100%;
}


/* ------------------------------------------------------------ TAB-------------------------------- */ 

.ui-tabs{
    margin: 0;
    padding: 0;
    border:none!important;
    background: none;
    border-radius: none;
}
.ui-tabs .ui-tabs-nav li{
    margin:0;
    margin-right:5px!important;
}
.ui-tabs-nav {
    border-radius: none;
    
    border:none;
    background:rgba(0,0,0,0)!important;
   
    padding-left:30px!important;
}
.ui-tabs-tab{
    border:none!important;
    text-decoration: none!important;
    list-style: none;
    
}
.ui-state-active a{
    background: #321FDB;
}
.ui-tabs-anchor{
    background: #CFD4D8;
    border-top-right-radius: 10px!important;
    border-top-left-radius: 10px!important;
    outline: none;

    text-decoration: none!important;
}
.ui-tabs-active{
    border:none!important;
    text-decoration: none!important;
}
.ui-tab{background:none}
