$visible-zone-x: 320px;
$visible-zone-y: 320px;
$visible-zone-x-half: $visible-zone-x/2;
$visible-zone-y-half: $visible-zone-y/2;

$border-size: 4px;
$border-color: #00FF55;
.popup-scan {
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  transition: .4s;
  &.active {
    transform: translateY(0);
  }
  &.error {
    .barcode-scan {
      position: relative;
      height: calc(100vh - 83px - 60px - 40px);
    }
  }
  .scan-status {
    height: 40px;
    font-size: 14px;
  }
  @media(max-width: 375px) {
    .task-content__head-card {
      display: none;
      &.active {
        display: flex;
      }
      &.error {
        display: flex;
      }
    }
    .task-content__head-card:last-child {
      padding-top: 19px;
      padding-bottom: 20px;
      height: auto;
    }
    .barcode-masks__visible {
      width: 250px;
      height: 250px;
      border-top: calc(100vh / 2 - 250px/2) solid rgba(79, 93, 115, 0.8);
      border-bottom: calc(100vh / 2 - 250px/2) solid rgba(79, 93, 115, 0.8);
      border-left: calc(100vw / 2 -  250px/2) solid rgba(79, 93, 115, 0.8);
      border-right: calc(100vw / 2 -  250px/2) solid rgba(79, 93, 115, 0.8);
    }
    .barcode-masks__content {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      &.mobile {
        top: auto;
        bottom: 26px;
        left: 20px;
        text-align: left;
      }
      @media(max-width: 375px) {
        display: none;
        &.mobile {
          display: block;
        }
      }
    }
    .btn-scan-action {
      width: 50px;
      height: 50px;
      img {
        height: 25px;
      }
    }
  }
}
.barcode-scan {
  position: relative;
  height: calc(100vh - 83px - 60px);
}
.barcode-masks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.barcode-masks__visible {
  position: relative;
  width: $visible-zone-x;
  height: $visible-zone-y;
  border-top: calc(100vh / 2 - #{$visible-zone-y-half}) solid rgba(79, 93, 115, 0.8);
  border-bottom: calc(100vh / 2 - #{$visible-zone-y-half}) solid rgba(79, 93, 115, 0.8);
  border-left: calc(100vw / 2 - #{$visible-zone-x-half}) solid rgba(79, 93, 115, 0.8);
  border-right: calc(100vw / 2 - #{$visible-zone-x-half}) solid rgba(79, 93, 115, 0.8);
  box-sizing: content-box;
}
.barcode-masks__border {
  width: 100px;
  height: 100px;
  position: absolute;
  &.tl{
    top: -4px;
    left: -4px;
    border-top: $border-size solid $border-color;
    border-left: $border-size solid $border-color;
  }
  &.tr{
    top: -4px;
    right: -4px;
    border-top: $border-size solid $border-color;
    border-right: $border-size solid $border-color;
  }
  &.br{
    bottom: -4px;
    right: -4px;
    border-bottom: $border-size solid $border-color;
    border-right: $border-size solid $border-color;
  }
  &.bl{
    bottom: -4px;
    left: -4px;
    border-bottom: $border-size solid $border-color;
    border-left: $border-size solid $border-color;
  }
}
.barcode-masks__content {
    position: absolute;
    top: $visible-zone-y + 20px;
    color: #fff;
    text-align: center;
    width: 100%;
    &.mobile {
      display: none; 
    }
}
.btn-scan-action {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .scan-icon {

    }
}