.breadcrumbs
	display: flex
	justify-content: flex-start
	align-items: center
	flex-wrap: wrap
	padding: 0 0 10px
	@media screen and (max-width: 991px)
		padding: 5px 0
	@media screen and (max-width: 768px)
		margin-bottom: 12px
	@media screen and (max-width: 560px)
		padding: 15px 0
	@media screen and (max-width: 560px)
		margin-bottom: 0
		padding-top: 0
	span
		color: #000
		text-decoration: none
		font-size: 12px
	&-wrapper
		background-color: #f5f5f8
	
	&__item
		position: relative
		&:after
			content: ''
			font-size: 12px
			position: absolute
			bottom: 38%
			right: 5px
			width: 3px
			height: 3px
			background-color: #9d9d9d
			border-radius: 50%
		&:last-child
			&:after
				display: none
	&__link
		color: #333
		font-size: 12px
		/* text-decoration: underline */
		padding-right: 15px
		position: relative
		&:hover
			text-decoration: none
		&_active
			color: #000
			text-decoration: none