@import '../utils/vars';

.btn-sidebar {
    outline: none;
    width: 60px;
    height: 59px;
    // width: 88px;
    // height: 88px;
    background: #4F5D73 /* #EBEDEF */;
    border-radius: 0;
    // padding: 10px 14px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    &__line {
        background: #fff;
        height: 3px;
        // width: 38px;
        width: 28px;
        // margin: 6px 0;
        margin: 4px 0;
    }
    &__arrow {
        position: relative;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background: #fff;
            height: 4px;
            width: 20px;
        }
        &:before {
            transform: rotate(-45deg) translate(2px, -7px);
        }
        &:after {
            transform: rotate(45deg) translate(1px, 7px);
        }
    }
    &:hover, &:active, &:focus {
        background-color: lighten(#4F5D73, 10%);
    }
}
.btn-primary, .btn-danger, .btn-secondary, .btn-disabled, .btn-primary-light {
    width: 150px;
    height: 68px;
    position: relative;
    display: block;
    padding: 6px 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 0 #dddede;
    text-align: center;
    white-space: normal;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: $mainFont;
    font-size: 17.5px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    box-shadow: none;
    outline: none;
    &:hover, &:active, &:focus{
        box-shadow: 2px 2px 2px 0 #dddede !important;
    }
}

.btn-primary{
    border: 1px solid #321FDB;
    background: #321FDB;
    color: #fff;
    &:hover, &:active, &:focus{
        border: 1px solid #321FDB;
        background-color: #321FDB;
    }
    &.disabled {
        background-color: #272727;
        border-color: #272727;
    }
}

.btn-danger{
    border: 1px solid #E55353;
    background: #E55353;
    color: #fff;
    &:hover, &:active, &:focus{
        border: 1px solid #E55353;
        background-color: #E55353;
        color: #fff;
    }
}

.btn-secondary{
    border: 1px solid #CED2D8;
    background: #CED2D8;
    color: #5D6A7C;
    &:hover, &:active, &:focus{
        border: 1px solid #CED2D8;
        background-color: #CED2D8;
        color: #5D6A7C;
    }
}

.btn-disabled {
    border: 1px solid #CFD4D8;
    background: #CFD4D8;
    color: #6F737B;
    &:hover, &:active, &:focus{
        border: 1px solid #CFD4D8;
        background-color: #CFD4D8;
        color: #6F737B;
    }
}
.btn-primary-light {
    border: 1px solid #7A6EE8;
    background: #7A6EE8;
    color: #fff;
    &:hover, &:active, &:focus{
        border: 1px solid #7A6EE8;
        background-color: #7A6EE8;
    }
}

.js_action-bar_show {
    display: none;
    img {
        transform: translateY(6px);
    }
    &.more {
        img {
            transform: rotate(180deg) translateY(6px);
        }
    }
    &.active {
        display: block;
    }
}