form{

}

input{
    &[type=text]{
        
    }
    &[type=checkbox]{

    }
}

// Start CHECKBOX
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
}
.checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
}
.checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
}
.checkbox:checked + label:before {
    background: rgb(0, 140, 255);
}
.checkbox:checked + label:after {
    left: 26px;
}
.checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
// End CHECKBOX

//Start RADIO
.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: radial-gradient(#fff 35%, rgb(0, 140, 255) 38%, rgb(0, 140, 255));
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
/* .radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
} */
// End RADIO

.input-with-units {
    border: 1px solid #D8DBE0;
    border-radius: 5px;
    max-width: 273px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    input {
        background-color: transparent;
        padding-left: 15px;
        width: calc(100% - 64px);
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 31px;
        letter-spacing: 0.02em;
        color: #4F5D73;
    }
    .units {
        border-left: 1px solid #d8dbe0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        background: #EBEDEF;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        color: #768192;
    }
}
.input-radio-with-label {
    display: flex;
    align-items: center;
    input {
        width: 22px;
        height: 22px;
    }
    .label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #4F5D73;
        margin-left: 10px;
    }
}

.datatype-min-max {
    display: flex;
    align-items: center;
    background: #EBEDEF;
    border: 1px solid #D8DBE0;
    box-sizing: border-box;
    border-radius: 5px;
    height: 60px;
    min-width: 215px;
    padding: 21px;
    .icon-info {
        margin-right: 5px;
    }
    .value {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 31px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.02em;
        color: #768192;
    }
}

/*Chosen style*/
.chosen-wrapper{
    margin:0 auto 25px;
    max-width:400px;
    position:relative;
    &:after{
      pointer-events: none;
      content: "";
      position: absolute;
      top: 32px;
      right: 20px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid rgba(0,0,0,.5);
      transition: all .2s cubic-bezier(.25,.46,.45,.94);
      z-index: 9;
    }
    &.is-active{
      &:after{
        border-top: 8px solid rgba(0,0,0,1);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg); 
        transform: rotate(180deg);
      }
    }
    .chosen-container{
      .chosen-single{
        border-radius: 0;
        height: 70px;
        border: solid 2px #d9d9d9;
        background:#fff;
        font-size: 22px;
        color: rgba(0,0,0,0.5);
        padding: 0 30px;
        line-height: 66px;
        transition: all 0.3s ease;
        box-shadow:none;
        background:#fff;
        b{
          display:none !important;
        }
        span{
          letter-spacing: 0;
          padding: 0;
          line-height: inherit;
        }
      }
      &.chosen-with-drop{
        .chosen-single{
          border-width: 2px 2px 1px;
          border-color: #000  #000 #d9d9d9;
          color: #000;
          background-image:none;
        }
        .chosen-drop{
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
      &.chosen-container-single-nosearch{
        .chosen-search{
          display:none;
        }
      }
      .chosen-drop{
        letter-spacing: 0;
        border-radius: 0;
        box-shadow: none;
        border-width: 0 2px 2px;
        border-color: #000;
        margin-top:0;
        -webkit-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        -o-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        opacity:0;
      }
      .chosen-results{
        font-size: 22px;
        color: #000;
        max-height: 245px;
        margin:0;
        padding:0;
        li{
          padding: 16px 30px 18px;
          margin: 0;
          border-bottom: 1px solid #e5e5e5;
          -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          line-height:20px;
          &.highlighted {
            background-color: #eeeeee !important;
            color: #000;
            background-image:none;
          }
        }
      }
    }
    &--style2{
      &:after{
        right:0;
      }
      &:before{
        content:'';
        width:0;
        border-top:2px solid #000;
        position:absolute;
        left:0;
        bottom:0;
        z-index:1;
        transition: all 0.2s cubic-bezier(.06,1,.89,.85);
      }
      &.is-active{
        &:before{
          width:100%;
        }
      }
      .chosen-container{
        .chosen-single{
          border-width:0 0 2px;
          padding:0;
        }
        &.chosen-with-drop{
          .chosen-single{
            border-width: 0 0 2px;
          }
          .chosen-drop{
            opacity: 1;
            visibility: visible;
            transform: translateY(5px);
          }
        }
        .chosen-drop{
          border-color:#d9d9d9;
          border-top: 2px solid #d9d9d9;
        }
        .chosen-results{
          li{
            padding: 16px 15px 18px;
          }
        }
      }
    }
  }
  
  
  /*ScrollBox style*/
  .nicescroll-rails{
    border-left: 1px solid #d9d9d9;
    transform: translate(-2px);
    top:0 !important;
    .nicescroll-cursors{
      width:6px !important;
      margin-right:2px;
    }
  }
  
  .link{
    position:absolute;
    left:0;
    bottom:0;
    padding:20px;
    a{
        display:flex;
        align-items:center;
        text-decoration:none;
        color:#000;
    }
    .fa{
      font-size:28px;
      margin-right:8px;
      color:#000;
    }
  }

  select.form-control {
    box-shadow: none !important;
    border: 2px solid #D8DBE0 !important;
    padding: 18px;
    height: 60px !important;
    width: 283px;
    background: transparent !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #3C4B64;
    position: relative;
    z-index: 1;
  }
  .select-form-control {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 25px;
        right: 15px;
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #768192;
      }
    &.active {
        &:before {
            transform: rotate(180deg);
        }
    }
    option {
        border: none;
        outline: none;
    }
  }