@import 'vars'

@function rem($pixels, $context: $mainFontSize) 
  @if (unitless($pixels)) 
    $pixels: $pixels * 1px
  

  @if (unitless($context)) 
    $context: $context * 1px
  

  @return $pixels / $context * 1rem

// For pseudoclasses :before and :after
@mixin pseudo($display: block, $pos: absolute, $content: '')
  content: $content
  display: $display
  position: $pos

// For z-index
@function z($name) 
  @if index($z-indexes, $name) 
    @return (length($z-indexes) - index($z-indexes, $name)) + 1
  @else 
    @warn 'There is no item "#$name" in this list choose one of: #$z-indexes'
    @return null
    
// For to cut off text
@mixin truncate($truncation-boundary, $whiteSpace: nowrap) 
  max-width: $truncation-boundary
  white-space: $whiteSpace
  overflow: hidden
  text-overflow: ellipsis


@mixin centerer($horizontal: true, $vertical: true) 
  position: absolute
  @if $horizontal and $vertical 
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  @else if $horizontal
    left: 50%
    transform: translate(-50%, 0)
  @else
    top: 50%
    transform: translate(0, -50%)
  