@import 'vars'

// Default
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
  margin: 0
  padding: 0
  font-size: 100%
  vertical-align: baseline


html
    font-family: Helvetica, Arial, sans-serif
    font-size: 16px


body
    font-family: $mainFont


.main
  padding: 30px 0


// Links
a 
  text-decoration: none
  &:active, &:hover 
    outline: 0
  


// List
ul, li 
  list-style-type: none
  margin: 0
  padding: 0


// Select
select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

select::-ms-expand
  display: none


// Headlines
h1, h2, h3, h4, h5, h6  
  font-size: 100% 
  line-height: 1.0

// Default
html  
  box-sizing: border-box

*, *:before, *:after  
  box-sizing: border-box 
  *:focus  
    outline: 0 

img, audio, video  
  max-width: 100% 
  height: auto 
audio, canvas, iframe, video, img, svg  
  vertical-align: middle 
iframe  
  border: 0 

// From

input, textarea 
  color: rgba(0, 0, 0, 0.57)
  border: 1px solid transparent
  border-radius: 4px
  background-color: #F2F2F2
  padding: 9px 28px
  font-size: 13px
  margin-bottom: 15px
  -webkit-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s


textarea 
  resize: none /* remove the resize handle on the bottom right */
  overflow: auto
  vertical-align: top
  box-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none

input, textarea, select, button  
  outline: none 
  border: none 
  font-size: 100% 
  margin: 0

button, input  
  line-height: normal 

button
  cursor: pointer

input::placeholder
  font-size: 12px 

// Table
table  
  border-collapse: collapse 
  border-spacing: 0 
td, th  
  padding: 0 
  text-align: left 

// Section 
section
  position: relative

// Chrome/Opera/Safari
::-webkit-input-placeholder
  color: rgb(171, 171, 171)
  font-size: 16px

// Firefox 19+
::-moz-placeholder
  color: rgb(171, 171, 171)
  font-size: 16px

// Firefox 18-
::-moz-placeholder
  color: rgb(171, 171, 171)
  font-size: 16px

// IE 10+
::-ms-input-placeholder
  color: rgb(171, 171, 171)
  font-size: 16px

