@charset "UTF-8";

/* default styles for all pages */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

body {
  font-family: "Roboto";
}

.main {
  padding: 30px 0;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  line-height: 1.0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* *:focus,
*:before *:focus,
*:after *:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

input,
textarea {
  color: rgba(0, 0, 0, 0.57);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #F2F2F2;
  padding: 9px 28px;
  font-size: 13px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

textarea {
  resize: none;
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder {
  font-size: 12px;
}

input:-ms-input-placeholder {
  font-size: 12px;
}

input::-ms-input-placeholder {
  font-size: 12px;
}

input::placeholder {
  font-size: 12px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

section {
  position: relative;
}

::-webkit-input-placeholder {
  color: #ababab;
  font-size: 16px;
}

::-moz-placeholder {
  color: #ababab;
  font-size: 16px;
}

::-moz-placeholder {
  color: #ababab;
  font-size: 16px;
}

::-ms-input-placeholder {
  color: #ababab;
  font-size: 16px;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./../../static/fonts/Roboto/Roboto-400-cyrillic-ext1.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./../../static/fonts/Roboto/Roboto-400-cyrillic2.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./../../static/fonts/Roboto/Roboto-400-greek-ext3.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./../../static/fonts/Roboto/Roboto-400-greek4.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./../../static/fonts/Roboto/Roboto-400-vietnamese5.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./../../static/fonts/Roboto/Roboto-400-latin-ext6.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("./../../static/fonts/Roboto/Roboto-400-latin7.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../static/fonts/Roboto/Roboto-500-cyrillic-ext8.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../static/fonts/Roboto/Roboto-500-cyrillic9.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../static/fonts/Roboto/Roboto-500-greek-ext10.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../static/fonts/Roboto/Roboto-500-greek11.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../static/fonts/Roboto/Roboto-500-vietnamese12.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../static/fonts/Roboto/Roboto-500-latin-ext13.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("./../../static/fonts/Roboto/Roboto-500-latin14.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../static/fonts/Roboto/Roboto-700-cyrillic-ext15.woff2") format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../static/fonts/Roboto/Roboto-700-cyrillic16.woff2") format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../static/fonts/Roboto/Roboto-700-greek-ext17.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../static/fonts/Roboto/Roboto-700-greek18.woff2") format("woff2");
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../static/fonts/Roboto/Roboto-700-vietnamese19.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../static/fonts/Roboto/Roboto-700-latin-ext20.woff2") format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("./../../static/fonts/Roboto/Roboto-700-latin21.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  overflow: hidden;
}

body {
  background-color: #fff;
  font-family: "Roboto";
  font-size: 18px;
  overflow-y: hidden;
}

.body {
  max-height: 100vh;
  /* width: 972.8px;
    height: 583.68px; */
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

/* .page-content {
    height: calc(100vh - 34px - 89px);
} */

.form-group .form-label {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #8A93A2;
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.form-control {
  height: 44px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 17.5px;
  line-height: 21px;
}

.shadow-block {
  position: relative;
}

.shadow-block:before,
.shadow-block:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 5px;
  width: 100%;
}

.shadow-block:before {
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#d8d7d7), to(transparent));
  background: -webkit-linear-gradient(top, #d8d7d7, transparent);
  background: -o-linear-gradient(top, #d8d7d7, transparent);
  background: linear-gradient(to bottom, #d8d7d7, transparent);
}

.shadow-block:after {
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#d8d7d7), to(transparent));
  background: -webkit-linear-gradient(bottom, #d8d7d7, transparent);
  background: -o-linear-gradient(bottom, #d8d7d7, transparent);
  background: linear-gradient(to top, #d8d7d7, transparent);
}

.icon-info {
  background: url("../static/img/icons/info.svg");
  width: 20px;
  height: 20px;
}

.icon-info.grey {
  background: url("../static/img/icons/info-grey.svg") 100%/100% no-repeat;
}

.modal-content {
  border: none;
}

.modal-header,
.modal-body {
  padding: 32px 25px;
}

.modal-header {
  background: #321FDB;
  color: #fff;
  height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.mobile-footer-off .header-status {
  display: none;
}

.mobile-footer-off .Log-in__head {
  display: none;
}

.mobile-footer-off .task-content__head {
  display: none;
}

.mobile-footer-off .task-content {
  height: calc(100vh - 60px);
}

.mobile-footer-off .task-content__body {
  height: calc(100% - 25px);
  width: 100%;
}

.mobile-footer-off .footer {
  display: none;
}

.mobile-footer-off .shadow-block:after {
  display: none;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0 10px;
}

.breadcrumbs span {
  color: #000;
  text-decoration: none;
  font-size: 12px;
}

.breadcrumbs-wrapper {
  background-color: #f5f5f8;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:after {
  content: '';
  font-size: 12px;
  position: absolute;
  bottom: 38%;
  right: 5px;
  width: 3px;
  height: 3px;
  background-color: #9d9d9d;
  border-radius: 50%;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__link {
  color: #333;
  font-size: 12px;
  /* text-decoration: underline */
  padding-right: 15px;
  position: relative;
}

.breadcrumbs__link:hover {
  text-decoration: none;
}

.breadcrumbs__link_active {
  color: #000;
  text-decoration: none;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

.checkbox + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.checkbox:checked + label:before {
  background: #008cff;
}

.checkbox:checked + label:after {
  left: 26px;
}

.checkbox:focus + label:before {
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}

.radio + label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.radio + label:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}

.radio + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: -webkit-radial-gradient(#fff 35%, #008cff 38%, #008cff);
  background: -o-radial-gradient(#fff 35%, #008cff 38%, #008cff);
  background: radial-gradient(#fff 35%, #008cff 38%, #008cff);
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.5); */
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.radio:checked + label:after {
  opacity: 1;
}

/* .radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.7);
} */

.input-with-units {
  border: 1px solid #D8DBE0;
  border-radius: 5px;
  max-width: 273px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-with-units input {
  background-color: transparent;
  padding-left: 15px;
  width: calc(100% - 64px);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #4F5D73;
}

.input-with-units .units {
  border-left: 1px solid #d8dbe0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 64px;
  background: #EBEDEF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  color: #768192;
}

.input-radio-with-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-radio-with-label input {
  width: 22px;
  height: 22px;
}

.input-radio-with-label .label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  color: #4F5D73;
  margin-left: 10px;
}

.datatype-min-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #EBEDEF;
  border: 1px solid #D8DBE0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  height: 60px;
  min-width: 215px;
  padding: 21px;
}

.datatype-min-max .icon-info {
  margin-right: 5px;
}

.datatype-min-max .value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #768192;
}

/*Chosen style*/

.chosen-wrapper {
  margin: 0 auto 25px;
  max-width: 400px;
  position: relative;
}

.chosen-wrapper:after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 32px;
  right: 20px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 9;
}

.chosen-wrapper.is-active:after {
  border-top: 8px solid black;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.chosen-wrapper .chosen-container .chosen-single {
  border-radius: 0;
  height: 70px;
  border: solid 2px #d9d9d9;
  background: #fff;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  line-height: 66px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

.chosen-wrapper .chosen-container .chosen-single b {
  display: none !important;
}

.chosen-wrapper .chosen-container .chosen-single span {
  letter-spacing: 0;
  padding: 0;
  line-height: inherit;
}

.chosen-wrapper .chosen-container.chosen-with-drop .chosen-single {
  border-width: 2px 2px 1px;
  border-color: #000  #000 #d9d9d9;
  color: #000;
  background-image: none;
}

.chosen-wrapper .chosen-container.chosen-with-drop .chosen-drop {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.chosen-wrapper .chosen-container.chosen-container-single-nosearch .chosen-search {
  display: none;
}

.chosen-wrapper .chosen-container .chosen-drop {
  letter-spacing: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-width: 0 2px 2px;
  border-color: #000;
  margin-top: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  opacity: 0;
}

.chosen-wrapper .chosen-container .chosen-results {
  font-size: 22px;
  color: #000;
  max-height: 245px;
  margin: 0;
  padding: 0;
}

.chosen-wrapper .chosen-container .chosen-results li {
  padding: 16px 30px 18px;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  line-height: 20px;
}

.chosen-wrapper .chosen-container .chosen-results li.highlighted {
  background-color: #eeeeee !important;
  color: #000;
  background-image: none;
}

.chosen-wrapper--style2:after {
  right: 0;
}

.chosen-wrapper--style2:before {
  content: '';
  width: 0;
  border-top: 2px solid #000;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.06, 1, 0.89, 0.85);
  -o-transition: all 0.2s cubic-bezier(0.06, 1, 0.89, 0.85);
  transition: all 0.2s cubic-bezier(0.06, 1, 0.89, 0.85);
}

.chosen-wrapper--style2.is-active:before {
  width: 100%;
}

.chosen-wrapper--style2 .chosen-container .chosen-single {
  border-width: 0 0 2px;
  padding: 0;
}

.chosen-wrapper--style2 .chosen-container.chosen-with-drop .chosen-single {
  border-width: 0 0 2px;
}

.chosen-wrapper--style2 .chosen-container.chosen-with-drop .chosen-drop {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

.chosen-wrapper--style2 .chosen-container .chosen-drop {
  border-color: #d9d9d9;
  border-top: 2px solid #d9d9d9;
}

.chosen-wrapper--style2 .chosen-container .chosen-results li {
  padding: 16px 15px 18px;
}

/*ScrollBox style*/

.nicescroll-rails {
  border-left: 1px solid #d9d9d9;
  -webkit-transform: translate(-2px);
  -ms-transform: translate(-2px);
  transform: translate(-2px);
  top: 0 !important;
}

.nicescroll-rails .nicescroll-cursors {
  width: 6px !important;
  margin-right: 2px;
}

.link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}

.link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.link .fa {
  font-size: 28px;
  margin-right: 8px;
  color: #000;
}

select.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 2px solid #D8DBE0 !important;
  padding: 18px;
  height: 60px !important;
  width: 283px;
  background: transparent !important;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  color: #3C4B64;
  position: relative;
  z-index: 1;
}

.select-form-control {
  position: relative;
}

.select-form-control:before {
  content: '';
  position: absolute;
  top: 25px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #768192;
}

.select-form-control.active:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select-form-control option {
  border: none;
  outline: none;
}

.btn-sidebar {
  outline: none;
  width: 60px;
  height: 59px;
  background: #4F5D73;
  border-radius: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.btn-sidebar__line {
  background: #fff;
  height: 3px;
  width: 28px;
  margin: 4px 0;
}

.btn-sidebar__arrow {
  position: relative;
}

.btn-sidebar__arrow:before,
.btn-sidebar__arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  height: 4px;
  width: 20px;
}

.btn-sidebar__arrow:before {
  -webkit-transform: rotate(-45deg) translate(2px, -7px);
  -ms-transform: rotate(-45deg) translate(2px, -7px);
  transform: rotate(-45deg) translate(2px, -7px);
}

.btn-sidebar__arrow:after {
  -webkit-transform: rotate(45deg) translate(1px, 7px);
  -ms-transform: rotate(45deg) translate(1px, 7px);
  transform: rotate(45deg) translate(1px, 7px);
}

.btn-sidebar:hover,
.btn-sidebar:active,
.btn-sidebar:focus {
  background-color: #647591;
}

.btn-primary,
.btn-danger,
.btn-secondary,
.btn-disabled,
.btn-primary-light {
  width: 150px;
  height: 68px;
  position: relative;
  display: block;
  padding: 6px 4px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px 0 #dddede;
  box-shadow: 2px 2px 2px 0 #dddede;
  text-align: center;
  white-space: normal;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Roboto";
  font-size: 17.5px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-disabled:hover,
.btn-disabled:active,
.btn-disabled:focus,
.btn-primary-light:hover,
.btn-primary-light:active,
.btn-primary-light:focus {
  -webkit-box-shadow: 2px 2px 2px 0 #dddede !important;
  box-shadow: 2px 2px 2px 0 #dddede !important;
}

.btn-primary {
  border: 1px solid #321FDB;
  background: #321FDB;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border: 1px solid #321FDB;
  background-color: #321FDB;
}

.btn-primary.disabled {
  background-color: #272727;
  border-color: #272727;
}

.btn-danger {
  border: 1px solid #E55353;
  background: #E55353;
  color: #fff;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  border: 1px solid #E55353;
  background-color: #E55353;
  color: #fff;
}

.btn-secondary {
  border: 1px solid #CED2D8;
  background: #CED2D8;
  color: #5D6A7C;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  border: 1px solid #CED2D8;
  background-color: #CED2D8;
  color: #5D6A7C;
}

.btn-disabled {
  border: 1px solid #CFD4D8;
  background: #CFD4D8;
  color: #6F737B;
}

.btn-disabled:hover,
.btn-disabled:active,
.btn-disabled:focus {
  border: 1px solid #CFD4D8;
  background-color: #CFD4D8;
  color: #6F737B;
}

.btn-primary-light {
  border: 1px solid #7A6EE8;
  background: #7A6EE8;
  color: #fff;
}

.btn-primary-light:hover,
.btn-primary-light:active,
.btn-primary-light:focus {
  border: 1px solid #7A6EE8;
  background-color: #7A6EE8;
}

.js_action-bar_show {
  display: none;
}

.js_action-bar_show img {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}

.js_action-bar_show.more img {
  -webkit-transform: rotate(180deg) translateY(6px);
  -ms-transform: rotate(180deg) translateY(6px);
  transform: rotate(180deg) translateY(6px);
}

.js_action-bar_show.active {
  display: block;
}

.popup-scan {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.popup-scan.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.popup-scan.error .barcode-scan {
  position: relative;
  height: calc(100vh - 83px - 60px - 40px);
}

.popup-scan .scan-status {
  height: 40px;
  font-size: 14px;
}

.barcode-scan {
  position: relative;
  height: calc(100vh - 83px - 60px);
}

.barcode-masks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.barcode-masks__visible {
  position: relative;
  width: 320px;
  height: 320px;
  border-top: calc(100vh / 2 - 160px) solid rgba(79, 93, 115, 0.8);
  border-bottom: calc(100vh / 2 - 160px) solid rgba(79, 93, 115, 0.8);
  border-left: calc(100vw / 2 - 160px) solid rgba(79, 93, 115, 0.8);
  border-right: calc(100vw / 2 - 160px) solid rgba(79, 93, 115, 0.8);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.barcode-masks__border {
  width: 100px;
  height: 100px;
  position: absolute;
}

.barcode-masks__border.tl {
  top: -4px;
  left: -4px;
  border-top: 4px solid #00FF55;
  border-left: 4px solid #00FF55;
}

.barcode-masks__border.tr {
  top: -4px;
  right: -4px;
  border-top: 4px solid #00FF55;
  border-right: 4px solid #00FF55;
}

.barcode-masks__border.br {
  bottom: -4px;
  right: -4px;
  border-bottom: 4px solid #00FF55;
  border-right: 4px solid #00FF55;
}

.barcode-masks__border.bl {
  bottom: -4px;
  left: -4px;
  border-bottom: 4px solid #00FF55;
  border-left: 4px solid #00FF55;
}

.barcode-masks__content {
  position: absolute;
  top: 340px;
  color: #fff;
  text-align: center;
  width: 100%;
}

.barcode-masks__content.mobile {
  display: none;
}

.btn-scan-action {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Изменения в стандартных стилях аккордеона */

.ui-accordion {
  width: 100%;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  background-color: white;
}

.ui-accordion-header-active {
  background-color: #f2f2f3 !important;
  border-top: 1px solid #C9C9C9 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0) !important;
}

.ui-accordion-header {
  border-radius: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 15px 15px 15px !important;
  border: 0;
  border-bottom: 1px solid #C9C9C9;
  border-top: 1px solid #C9C9C9;
}

.ui-accordion-header:hover {
  background-color: #f2f2f3;
}

.ui-accordion-header:focus {
  border: none;
  outline: none;
}

.ui-accordion-content-active {
  background-color: #f2f2f3;
  margin-top: 0;
}

.ui-accordion-content {
  border: 0px;
  padding: 0 !important;
}

.ui-icon-triangle-1-e {
  display: none !important;
}

.ui-accordion-header-icon {
  display: none !important;
}

/* /Изменения в стандартных стилях аккордеона */

/* Добавленные классы */

.accordion-title {
  font-size: 20px;
  color: #3C4B64;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
}

.accordion-header_svg {
  position: absolute;
  right: 15px;
  top: 17px;
}

.accordion-header_svg-warning {
  position: absolute;
  right: 50px;
  width: 25px;
  height: 25px;
  top: 17px;
}

.accordeon-warnings-li {
  margin-top: 0 !important;
}

.accordion-content-block {
  padding: 15px;
  width: 100%;
}

/* ------------------------------------------------------------ TAB-------------------------------- */

.ui-tabs {
  margin: 0;
  padding: 0;
  border: none !important;
  background: none;
  border-radius: none;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
  margin-right: 5px !important;
}

.ui-tabs-nav {
  border-radius: none;
  border: none;
  background: rgba(0, 0, 0, 0) !important;
  padding-left: 30px !important;
}

.ui-tabs-tab {
  border: none !important;
  text-decoration: none !important;
  list-style: none;
}

.ui-state-active a {
  background: #321FDB;
}

.ui-tabs-anchor {
  background: #CFD4D8;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
  outline: none;
  text-decoration: none !important;
}

.ui-tabs-active {
  border: none !important;
  text-decoration: none !important;
}

.ui-tab {
  background: none;
}

.header-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4f5d73;
}

.header-status .btn-sidebar:first-child:before {
  content: '';
  display: block;
  position: absolute;
  right: -6px;
  top: 0;
  height: 70%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 15%;
}

.line-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #4F5D73;
  color: #fff;
  height: 60px;
  width: 100%;
  padding: 17px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  position: relative;
}

.line-status.first-block {
  width: auto;
}

.line-status.first-block:before {
  display: none;
}

.line-status.first-block:after {
  content: '';
  display: block;
  position: absolute;
  right: -6px;
  top: 0;
  height: 70%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 11%;
  z-index: 1;
}

.line-status > * {
  position: relative;
  z-index: 1;
}

.line-status:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  -webkit-transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s -webkit-transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.line-status.complete:before {
  width: 100%;
  background-color: #2EB85C;
  -webkit-transition: 0.3s -webkit-transform ease-in;
  transition: 0.3s -webkit-transform ease-in;
  -o-transition: 0.3s transform ease-in;
  transition: 0.3s transform ease-in;
  transition: 0.3s transform ease-in, 0.3s -webkit-transform ease-in;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.line-status.error:before {
  width: 100%;
  background-color: #E55353;
  -webkit-transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s -webkit-transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.line-status.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.line-status img {
  margin-right: 10px;
}

/* @media(max-width: 480px) {
    .line-status {
        height: 61px;
    }
}
@media(max-width: 375px) {
    .line-status {
        height: 60px;
    }
} */

.footer {
  background-color: #fff;
  border-top: 1px solid #EBEDEF;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .btn {
  height: 71px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 10px 14px;
}

.footer__inner .btn-danger {
  position: absolute;
  left: 14px;
}

.footer-space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
}

.footer-space-between .left-block {
  padding: 10px 14px;
}

.footer-space-between .right-block {
  width: 100%;
  padding: 10px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer__buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.footer__buttons-wrapper > * {
  margin-right: 15px;
}

.footer__buttons-wrapper > *:last-child {
  margin-right: 0;
}

.footer .btn {
  margin-right: 15px;
}

.footer .btn:last-child {
  margin-right: 0;
}

.sidebar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #fff;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
  z-index: 5;
}

.sidebar.open {
  left: 0;
  -webkit-transition: .3s ease-out;
  -o-transition: .3s ease-out;
  transition: .3s ease-out;
}

.sidebar__close {
  cursor: pointer;
}

.sidebar__head {
  height: 113px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 23px 16px 23px 15px;
}

.sidebar__menu {
  height: calc(100vh - 113px - 80px);
  border-top: 1px solid #D8DBE0;
  border-bottom: 1px solid #D8DBE0;
}

.sidebar__footer {
  position: relative;
  height: 80px;
  width: 100%;
  padding: 30px 15px;
  background: #F4F2FF;
  cursor: pointer;
}

.sidebar__footer:hover,
.sidebar__footer:active,
.sidebar__footer:focus {
  background: #F4F2FF;
}

.sidebar__footer .sidebar__link {
  color: #E55353;
}

.sidebar__image-link {
  display: block;
}

.btn-sidebar.js_open-sidebar {
  padding: 0;
}

.sidebar__menu-li {
  padding: 30px 15px;
  border-bottom: 1px solid #D8DBE0;
  cursor: pointer;
}

.sidebar__menu-li:hover,
.sidebar__menu-li:active,
.sidebar__menu-li:focus {
  background: #F4F2FF;
}

.sidebar__link {
  color: #4F5D73;
}

.sidebar__link:hover {
  color: #4F5D73;
  text-decoration: none;
}

.task-content {
  height: calc(100vh - 148px);
}

.task-content-without-head .task-content__body {
  height: inherit;
}

.task-content-without-head .task-content__body__title {
  padding-bottom: 15px;
}

.task-content-with-number-tasks .task-content__head {
  height: 60px;
}

.task-content-with-number-tasks .task-content__body {
  height: calc(100% - 60px);
}

.task-content__body__radios {
  width: 100%;
  max-width: 657px;
  padding: 30px 0 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.task-content__body__radios > * {
  width: calc(100% / 3);
  padding-right: 15px;
  margin-bottom: 30px;
}

.task-content__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 84px;
  border-bottom: 1px solid #D8DBE0;
  background-color: #fff;
  /* &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            width: 2px;
            height: 53%;
            background-color: #D8DBE0;
        }
        &:before {
            top: -1px;
            transform: rotate(-22deg);
        }
        &:after {
            bottom: -1px;
            transform: rotate(22deg);
        } */
}

.task-content__head.disabled {
  background-color: #EBEDEF;
  position: relative;
}

.task-content__head.disabled .blocked {
  width: 50px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #D8DBE0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.task-content__head.disabled .status-circle {
  border: 2px solid #3C4B64 !important;
  background-color: transparent !important;
  color: #3C4B64;
}

.task-content__head.disabled .status-circle:before {
  display: none;
}

.task-content__head .blocked {
  display: none;
}

.task-content__body {
  height: calc(100% - 82px);
}

.task-content__body-inner {
  padding-bottom: 15px;
}

.task-content__head-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 14px 15px 50px;
  border-top: 1px solid #DFDFDF;
  position: relative;
}

.task-content__head-card:not(:nth-child(2)):not(:last-child) {
  max-width: 270px;
}

.task-content__head-card:nth-child(2) {
  padding-left: 30px;
}

.task-content__head-card:last-child {
  padding-left: 40px;
}

.task-content__head-card .field-text {
  font-weight: 500;
}

.task-content__head-card:before {
  content: '';
  position: absolute;
  top: 20px;
  left: calc(100% - 24px);
  width: 48px;
  height: 42px;
  background-color: #fff;
  -webkit-transform: rotate(-60deg) skew(-30deg);
  -ms-transform: rotate(-60deg) skew(-30deg);
  transform: rotate(-60deg) skew(-30deg);
  border-bottom: 1px solid #DFDFDF;
  border-right: 1px solid #DFDFDF;
  z-index: 1;
}

.task-content__head-card:last-child:before {
  display: none;
}

.task-content__head-card.active {
  background: #DAFFE6;
  -webkit-animation: background-pulse 1.5s infinite;
  animation: background-pulse 1.5s infinite;
}

.task-content__head-card.active:before {
  background-color: #daffe6;
  -webkit-animation: background-pulse 1.5s infinite;
  animation: background-pulse 1.5s infinite;
}

.task-content__body__title {
  padding-top: 35px;
  padding-left: 60px;
}

@-webkit-keyframes background-pulse {
  0% {
    background: #DAFFE6;
  }

  50% {
    background: #c1ffd5;
  }

  100% {
    background: #DAFFE6;
  }
}

@keyframes background-pulse {
  0% {
    background: #DAFFE6;
  }

  50% {
    background: #c1ffd5;
  }

  100% {
    background: #DAFFE6;
  }
}

.disabled .task-content__head-card:before {
  background-color: #ebedef;
}

.status-circle {
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #3C4B64;
  color: #3C4B64;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  padding-top: 2px;
  z-index: 2;
}

.status-circle.active {
  background-color: #2EB85C;
  color: #fff;
  position: relative;
  border-width: 0;
  /* &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: rgba(46, 184, 92, 0.15);
            transform: translate(-8px, -8px);
            animation: radial-pulse 1s infinite;
        } */
}

.status-circle.success,
.status-circle.error {
  color: transparent;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.status-circle.success {
  background-color: #2EB85C;
  background-image: url("./../../static/img/icons/success.svg");
}

.status-circle.error {
  background-color: #E55353;
  background-image: url("./../../static/img/icons/error.svg");
}

.task-content__head__title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #3C4B64;
  margin-bottom: 4px;
}

.task-content__head__title.success {
  color: #2EB85C;
}

.task-content__head__title.error {
  color: #E55353;
}

.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.field-group.success .field-text {
  color: #2EB85C;
}

.field-group.error .field-text {
  color: #E55353;
}

.field-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #8A93A2;
}

.field-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #4F5D73;
}

.task-content__body-inner {
  height: 100%;
  overflow: auto;
}

.task-content__body__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.task-content__body .left-block,
.task-content__body .right-block {
  width: 50%;
  padding: 20px 40px 20px 60px;
}

.task-content__body .field-group {
  margin-bottom: 20px;
}

.task-content__warnings {
  width: 100%;
}

.task-content__warnings-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #FFE7B7;
  padding: 2px 40px 2px 60px;
  margin-top: 8px;
}

.task-content__warnings-li:first-child {
  margin-top: 15px;
}

.task-content__warnings__message {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.02em;
  color: #4F5D73;
}

.task-content__head-card__content {
  width: calc(100% - 40px);
}

.content-full-width {
  width: 100%;
  padding: 0 60px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-full-width > * {
  margin-right: 10px;
}

@-webkit-keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
    box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
  }

  50% {
    -webkit-box-shadow: 0 0 0 8px rgba(46, 184, 92, 0.15);
    box-shadow: 0 0 0 8px rgba(46, 184, 92, 0.15);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
    box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
  }
}

@keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
    box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
  }

  50% {
    -webkit-box-shadow: 0 0 0 8px rgba(46, 184, 92, 0.15);
    box-shadow: 0 0 0 8px rgba(46, 184, 92, 0.15);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
    box-shadow: 0 0 0 0px rgba(46, 184, 92, 0.15);
  }
}

.log-in-page {
  height: calc(100vh - 60px);
}

.Log-in__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Log-in__head {
  padding: 36px;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #13152E;
  position: relative;
}

.Log-in__head:before {
  content: '';
  display: block;
  bottom: 0;
  right: 0;
  background: url("./../../static/img/log-in.svg") 100%/cover no-repeat;
  position: absolute;
  width: 500px;
  height: 258px;
}

.Log-in__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 55%;
  padding: 68px 40px;
}

.Log-in__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  color: #3C4B64;
  /* @media (max-width: 768px) {
        margin-top: 58px;
    } */
}

.Log-in__fields {
  margin-top: 34.96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Log-in__fields-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% - 150px);
  padding-right: 40px;
}

.Log-in__fields-inner .form-group {
  width: 48%;
  margin-bottom: 0;
}

.Log-in__logo-2 {
  display: none;
}

.table {
  margin-bottom: 0;
}

.table thead th {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.02em;
  border-bottom: none;
}

.table thead th:first-child {
  padding-left: 20px;
}

.table tbody {
  height: 433px;
}

.table tbody th {
  padding-left: 20px;
}

.table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dee2e6;
}

.table tr:nth-child(even) {
  background: #FFF;
}

.table tr:nth-child(odd) {
  background: #F2F2F3;
}

.table th,
.table td {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #3C4B64;
  border: none;
}

.table th:first-child,
.table td:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 68px;
  flex: 0 0 68px;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(24% - 68px / 4);
  flex: 0 0 calc(24% - 68px / 4);
}

.table th:nth-child(3),
.table td:nth-child(3) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(24% - 68px / 4);
  flex: 0 0 calc(24% - 68px / 4);
}

.table th:nth-child(4),
.table td:nth-child(4) {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(28% - 68px / 4);
  flex: 0 0 calc(28% - 68px / 4);
}

.table th:last-child,
.table td:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(24% - 68px / 4);
  flex: 0 0 calc(24% - 68px / 4);
}

.table__head-wrapper {
  background: #F2F2F3;
}

.table__head-wrapper .table tr:nth-child(odd) {
  background: #fff;
  border-top: none;
}

.table__body-wrapper {
  overflow: auto;
  height: calc(100vh - 60px - 55px - 89px);
}

.table__body-wrapper::-webkit-scrollbar {
  width: 0px;
}

.table__tr:hover {
  background: #F4F2FF !important;
}

.table__tr.active {
  background: #E7FFEF !important;
}

.table__tr.active th {
  position: relative;
}

.table__tr.active th:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 7px;
  height: 100%;
  background: #2EB85C;
}

.table-mobile {
  display: none;
}

.table-mobile .table__tr {
  padding: 12px 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
}

.table-mobile .table__tr-left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.table-mobile .table__tr-right {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.table-mobile .table__tr-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-mobile .table__tr-row > *:first-child,
.table-mobile .table__tr-row > *:last-child {
  font-size: 16px;
}

.table-mobile .table__tr-row > *:first-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  color: #9B9B9B;
}

.table-mobile .table__tr-row > *:last-child {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  color: #3C4B64;
}

.mobile-status-error {
  display: none;
}

.task-status-wrapper .task-content {
  height: calc(100vh - 206px);
}

.task-status-wrapper .task-content__body {
  height: calc(100% - 84px);
}

.title-h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  color: #3C4B64;
}

.task-content__head-tasks-list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slick-multiple-items {
  visibility: hidden;
}

.tasks-list-circle-wrapper {
  width: calc(100% - 110px);
}

.tasks-list-circle-wrapper .status-circle {
  margin: auto;
}

.tasks-list-circle__item {
  height: 60px;
  padding: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.tasks-list-circle__item.active {
  border-bottom: 3px solid #2EB85C;
  background: #DAFFE6;
}

.tasks-list-circle.slick-multiple-items {
  position: relative;
}

.tasks-list-circle.slick-multiple-items .owl-nav {
  position: absolute;
  top: 0;
  left: -60px;
  width: calc(100% + 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tasks-list-circle.slick-multiple-items .slick-prev,
.tasks-list-circle.slick-multiple-items .slick-next,
.tasks-list-circle.slick-multiple-items .owl-prev,
.tasks-list-circle.slick-multiple-items .owl-next {
  width: 60px;
  height: 60px;
  background-color: #EBEDEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tasks-list-circle.slick-multiple-items .slick-prev.slick-disabled,
.tasks-list-circle.slick-multiple-items .slick-next.slick-disabled,
.tasks-list-circle.slick-multiple-items .owl-prev.slick-disabled,
.tasks-list-circle.slick-multiple-items .owl-next.slick-disabled {
  opacity: .3;
}

.tasks-list-circle.slick-multiple-items .slick-prev:before,
.tasks-list-circle.slick-multiple-items .slick-next:before,
.tasks-list-circle.slick-multiple-items .owl-prev:before,
.tasks-list-circle.slick-multiple-items .owl-next:before {
  content: '';
  color: rgba(0, 0, 0, 0);
  background: url("./../static/img/icons/arrow--left.svg") no-repeat;
  opacity: 1;
  display: block;
  width: 25px;
  height: 23px;
  margin-top: 2px;
}

.tasks-list-circle.slick-multiple-items .slick-prev > span,
.tasks-list-circle.slick-multiple-items .slick-next > span,
.tasks-list-circle.slick-multiple-items .owl-prev > span,
.tasks-list-circle.slick-multiple-items .owl-next > span {
  display: none;
}

.tasks-list-circle.slick-multiple-items .slick-prev,
.tasks-list-circle.slick-multiple-items .owl-prev {
  left: -60px;
}

.tasks-list-circle.slick-multiple-items .slick-prev:before,
.tasks-list-circle.slick-multiple-items .owl-prev:before {
  margin-left: 3px;
}

.tasks-list-circle.slick-multiple-items .slick-next,
.tasks-list-circle.slick-multiple-items .owl-next {
  right: -60px;
}

.tasks-list-circle.slick-multiple-items .slick-next:before,
.tasks-list-circle.slick-multiple-items .owl-next:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 3px;
}

.input-datepicker-wrapper {
  border: 1px solid #D8DBE0;
  border-radius: 5px;
  max-width: 273px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input-datepicker {
  background-color: #fff;
  width: 100%;
}

.adaptive-image {
  height: calc(100% - 120px - 230px);
  padding-left: 60px;
}

.adaptive-image img {
  width: auto;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.standart-name {
  padding-left: 60px;
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  color: #8A93A2;
}

/*----------------------------------------------------------------------------------------------*/

.hide_header {
  height: auto;
  overflow-y: visible;
}

.hide_header_body__no-scroll {
  height: auto;
  overflow: visible;
}

.ui-tabs .ui-tabs-nav {
  position: absolute;
  top: -43px;
}

.ui-tabs .ui-tabs-nav li {
  background: none !important;
}

.tab-content__warning-img {
  margin-left: 10px;
}

.tab-content__scroll {
  overflow-y: scroll;
  max-height: 34vh;
}

.ui-tabs-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-header__warning-ico {
  display: block;
  margin-left: 10px;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-button {
  color: #6F737B;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  color: #fff;
}

.ui-tabs .ui-tabs-panel {
  padding: 0 !important;
  overflow-y: scroll !important;
  border-top: 1px solid #CACACA;
}

.tab-content__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 30px 23px 30px;
}

.tab-content__column {
  width: 33.3333333333%;
}

.global-left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.task-content__body__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tabs_scroll {
  max-height: 50%;
  overflow-y: scroll;
}

.task-content__body.has-tabs .task-content__body-inner {
  height: auto;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .task-content__body.has-tabs .task-content__body-inner {
    max-height: 100%;
    height: auto;
    padding-bottom: 0px;
  }

  .tabs {
    display: none;
  }
}

@media screen and (min-width: 991px) {
  .task-content__body.has-tabs .task-content__body-inner {
    min-height: 50%;
    max-height: 50%;
  }

  .task-content__head-card,
  .task-content__warnings-li,
  .task-content__body .left-block,
  .task-content__body .right-block {
    padding-left: 30px;
  }

  .task-content__body__title {
    padding-left: 30px;
  }

  #accordion {
    display: none;
  }

  .tabs {
    display: block;
  }
}

@media (max-width: 1024px) {
  .task-content__head-card,
  .task-content__warnings-li,
  .task-content__body .left-block,
  .task-content__body .right-block {
    padding-left: 30px;
  }
}

@media screen and (max-width: 991px) {
  .breadcrumbs {
    padding: 5px 0;
  }
}

@media (max-width: 991px) {
  .task-content__head-card {
    padding-left: 64px;
  }

  .task-content__warnings-li {
    padding-left: 48px;
  }

  .task-content__body-inner .left-block,
  .task-content__body-inner .right-block {
    padding-left: 48px;
  }

  .task-content__body__title {
    padding-left: 48px;
  }

  .task-content__head-multiple-blocks .task-content__head-card:not(.active) {
    width: auto;
    padding-left: 67px;
    padding-right: 67px;
  }

  .task-content__head-multiple-blocks .task-content__head-card:not(.active) .task-content__head-card__content {
    display: none;
  }

  .task-content__head-multiple-blocks .task-content__head-card.active {
    width: 100%;
    max-width: none;
    padding-left: 50px;
  }

  .field-group .field-label {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
  }

  .field-group .field-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  body {
    width: 768px;
  }

  .body {
    max-height: none;
    height: auto;
  }

  .footer__inner {
    padding: 1px;
  }

  .footer__inner .btn-danger {
    position: static;
  }

  .footer__inner .btn {
    width: 100%;
    border-radius: 0;
    margin-right: 1px;
    height: 61px;
    font-size: 14px;
  }

  .footer-space-between .left-block,
  .footer-space-between .right-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1px;
  }

  .footer-space-between .btn {
    border-radius: 0;
    width: 100%;
    margin-right: 3px;
  }

  .footer-space-between .btn:last-child {
    margin-right: 0;
  }

  .content-full-width {
    padding: 0 15px;
  }

  .task-content {
    height: calc(100vh - 124px);
  }

  .task-content__head__title {
    font-size: 18px;
  }

  .task-content__warnings-li {
    padding-left: 15px;
  }

  .task-content__body-inner .left-block {
    padding-left: 15px;
  }

  .disabled .task-content__head-card:nth-child(2) {
    padding: 15px 20px 15px 65px;
  }

  .task-content__head-card {
    padding: 15px;
  }

  .task-content__body-inner .right-block {
    padding-left: 0;
  }

  .task-content__head-card:last-child {
    padding-left: 35px;
  }

  .task-content__warnings-li {
    padding-right: 15px;
  }

  .task-content__body__title {
    padding-left: 15px;
  }

  .Log-in__wrapper {
    height: auto;
  }

  .Log-in__head:before {
    width: 400px;
    height: 184px;
  }

  .Log-in__head {
    height: 308px;
  }

  .Log-in__body {
    height: auto;
    padding-top: 58px;
  }

  .Log-in__fields {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Log-in__fields-inner {
    width: 100%;
    margin-bottom: 47px;
    padding-right: 0;
  }

  .table-desktop {
    display: none;
  }

  .table-mobile {
    display: table;
  }

  .table__head {
    display: none;
  }

  .table__tr.active th:before {
    display: none;
  }

  .table__body-wrapper {
    height: calc(100vh - 60px - 200px);
  }

  .table__body-wrapper .table__tr {
    border: 1px solid #4a4a4a;
    margin: 10px;
  }

  .task-content__body__radios {
    padding-left: 15px;
  }

  .adaptive-image {
    padding-left: 15px;
  }

  .standart-name {
    padding-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  body {
    width: 100%;
  }
}

@media (max-width: 667px) {
  .quality-footer-button button:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .quality-footer-button button:nth-child(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .quality-footer-button button:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .quality-footer-button button:nth-child(4) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }

  .quality-footer-button button:nth-child(5) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .quality-footer-button button:nth-child(6) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .task-content__head.disabled .status-circle {
    background-image: url("./../../static/img/icons/blocked.svg") !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    color: transparent;
  }

  .disabled .task-content__head-card:nth-child(2) {
    padding: 15px;
  }

  .task-content__head__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4px;
  }

  .task-content {
    height: calc(100vh - 124px);
  }

  .task-content__head.disabled .blocked {
    display: none;
  }

  .task-content__head {
    height: 84px;
  }

  .task-content__head-card {
    padding: 22px 15px 10px;
  }

  .task-content__head:before,
  .task-content__head:after {
    left: 49%;
  }

  .task-content__warnings-li {
    padding-left: 15px;
  }

  .task-content__body-inner .left-block,
  .task-content__body-inner .right-block {
    padding-left: 15px;
  }

  .task-content__body {
    height: calc(100% - 83px);
  }

  .task-content__head-card:before {
    display: none;
    top: 22px;
    left: calc(100% - 20px);
    -webkit-transform: rotate(-63deg) skew(-40deg);
    -ms-transform: rotate(-63deg) skew(-40deg);
    transform: rotate(-63deg) skew(-40deg);
    width: 44px;
    height: 36px;
  }

  .task-content__head-card:last-child {
    padding-left: 30px;
  }

  .task-content__head-multiple-blocks .task-content__head-card:not(.active) {
    display: none;
  }

  .task-content__head-multiple-blocks .task-content__head-card.active {
    padding-left: 15px;
  }

  .task-content__body__radios {
    max-width: 520px;
    padding-left: 15px;
  }

  .task-content__body__radios > * {
    width: 50%;
  }

  .task-content__body__title {
    padding-top: 30px;
  }

  .title-h2 {
    font-size: 20px;
  }
}

@media (max-width: 665px) {
  .Log-in__head {
    padding: 44px 28px;
  }

  .table-mobile .table__tr {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .table-mobile .table__tr-left,
  .table-mobile .table__tr-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 560px) {
  .breadcrumbs {
    padding: 15px 0;
  }

  .breadcrumbs {
    margin-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 560px) {
  .tasks-list-circle-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .task-content__body.has-tabs .task-content__body-inner {
    max-height: 100%;
    height: auto;
    padding-bottom: 10px;
  }

  .task-content__head-card {
    display: none;
  }

  .task-content__head-card.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .global-left-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .global-right-block {
    width: 100%;
  }

  .task-content__body .left-block,
  .task-content__body .right-block {
    width: 100%;
  }

  .tabs {
    display: none;
  }
}

@media (max-width: 375px) {
  .popup-scan .task-content__head-card {
    display: none;
  }

  .popup-scan .task-content__head-card.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .popup-scan .task-content__head-card.error {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .popup-scan .task-content__head-card:last-child {
    padding-top: 19px;
    padding-bottom: 20px;
    height: auto;
  }

  .popup-scan .barcode-masks__visible {
    width: 250px;
    height: 250px;
    border-top: calc(100vh / 2 - 250px/2) solid rgba(79, 93, 115, 0.8);
    border-bottom: calc(100vh / 2 - 250px/2) solid rgba(79, 93, 115, 0.8);
    border-left: calc(100vw / 2 -  250px/2) solid rgba(79, 93, 115, 0.8);
    border-right: calc(100vw / 2 -  250px/2) solid rgba(79, 93, 115, 0.8);
  }

  .popup-scan .barcode-masks__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .popup-scan .barcode-masks__content.mobile {
    top: auto;
    bottom: 26px;
    left: 20px;
    text-align: left;
  }

  .popup-scan .btn-scan-action {
    width: 50px;
    height: 50px;
  }

  .popup-scan .btn-scan-action img {
    height: 25px;
  }

  .Log-in__head:before {
    display: none;
  }

  .Log-in__head {
    height: 154px;
  }

  .Log-in__body {
    padding: 23px 17px;
  }

  .Log-in__title {
    font-size: 30px;
    line-height: 35px;
  }

  .Log-in__fields .btn {
    width: 100%;
  }

  .Log-in__fields-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 37px;
  }

  .Log-in__fields-inner .form-group {
    width: 100%;
    margin-bottom: 23px;
  }
}

@media (max-width: 375px) and (max-width: 375px) {
  .popup-scan .barcode-masks__content {
    display: none;
  }

  .popup-scan .barcode-masks__content.mobile {
    display: block;
  }
}

@media (min-width: 666px) and (max-width: 667px) {
  .footer .btn {
    height: 63px;
    font-size: 14px;
    border-radius: 0;
    margin-right: 1px;
  }

  .footer .btn:last-child {
    margin-right: 0;
  }

  .status-circle {
    font-size: 15px;
  }

  .footer__buttons-wrapper {
    width: 100%;
  }

  .footer-space-between .left-block,
  .footer-space-between .right-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1px;
  }

  .footer-space-between .left-block {
    padding-right: 0;
  }

  .footer-space-between .btn-danger {
    border-radius: 0;
    margin-right: 3px;
  }

  .sidebar__head {
    height: 100px;
    padding: 21px 25px 26px 37px;
  }

  .sidebar__menu-li {
    padding: 21px 45px;
  }

  .sidebar__menu {
    height: calc(100vh - 100px - 67px);
  }

  .sidebar__footer {
    height: 67px;
    padding: 20px 45px;
  }

  .Log-in__logo-1 {
    display: none;
  }

  .Log-in__logo-2 {
    display: block;
  }

  .Log-in__head {
    background-color: #fff;
    height: 70px;
    padding: 15px 21px;
  }

  .Log-in__head:before {
    display: none;
  }

  .Log-in__body {
    padding: 5px 21px 22px;
  }

  .Log-in__logo {
    height: 100%;
  }

  .Log-in__logo img {
    height: 100%;
  }

  .Log-in__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
  }

  .Log-in__fields-inner {
    margin-bottom: 18px;
  }

  .Log-in__fields {
    margin-top: 0;
  }

  .Log-in__inner .btn {
    width: 336px;
  }

  .table__body-wrapper {
    height: calc(100vh - 36px - 179px);
  }

  .modal-header {
    height: 57px;
    padding: 16px 25px;
  }

  .modal-body {
    padding: 23px 25px 0;
  }

  .modal-footer {
    padding: 0 25px 27px;
    border-top: none;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .modal-dialog {
    margin: 14px auto;
  }
}

@media (min-width: 320px) and (max-width: 665px) {
  .status-circle {
    padding-top: 3px;
  }

  .footer {
    background-color: #fff;
  }

  .footer .btn {
    width: calc(25% - 1px);
    margin-right: 1px;
    border-radius: 0;
    height: 64px;
    font-size: 14px;
    line-height: 16px;
  }

  .footer .btn:last-child {
    margin-right: 0;
  }

  .footer__inner {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .footer__inner.active {
    height: 64px;
    overflow: hidden;
  }

  .footer__inner.active.more {
    height: auto;
  }

  .footer__inner.active .btn {
    margin-bottom: 1px;
  }

  .footer__inner.active .btn:last-child {
    margin-right: 1px;
  }

  .footer__buttons-wrapper {
    width: 100%;
  }

  .footer-space-between .left-block,
  .footer-space-between .right-block {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
  }

  .footer-space-between .btn-danger {
    border-radius: 0;
    margin-right: 3px;
  }

  .disabled .task-content__head-card:before {
    display: none;
  }

  .task-content__head-card {
    padding-top: 24px;
    padding-bottom: 15px;
  }

  .task-content__head-card:nth-child(2) {
    height: 89px;
  }

  .task-content__head-card:last-child {
    height: 99px;
    padding-left: 15px;
    padding-bottom: 30px;
  }

  .task-content__head-card:before {
    top: 77px;
    left: calc(100% - 52px);
    z-index: 1;
    -webkit-transform: rotate(24deg) skew(-40deg);
    -ms-transform: rotate(24deg) skew(-40deg);
    transform: rotate(24deg) skew(-40deg);
    width: 32px;
    height: 24px;
  }

  .task-content__body__radios > * {
    width: 100%;
  }

  .shadow-block:before {
    top: -1px;
  }

  .task-content__head__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4px;
  }

  /* .task-content__head.disabled .blocked {
        display: none;
    } */

  .task-content__body {
    height: calc(100% - 92px);
  }

  .task-content__head {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
  }

  .task-content__head-card {
    width: 100%;
  }

  .task-content__head-card:last-child {
    border-top: 1px solid #DFDFDF;
    position: relative;
  }

  .task-content__head-card:last-child:before {
    content: '';
    position: absolute;
    top: -18px;
    right: 62px;
    width: 38px;
    height: 35px;
    background-color: #fff;
    -webkit-transform: rotate(30deg) skew(-30deg);
    -ms-transform: rotate(30deg) skew(-30deg);
    transform: rotate(30deg) skew(-30deg);
    border-bottom: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
  }

  .disabled .task-content__head-card:last-child:before {
    background-color: #ebedef;
  }

  .task-content__head:before,
  .task-content__head:after {
    /* 
        left: auto;
        height: 30px;
        top: 83px; */
    display: none;
  }

  .task-content__body__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .task-content__body__content .left-block,
  .task-content__body__content .right-block {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }

  .task-content__body__content .right-block {
    padding-top: 0;
  }

  .task-content {
    height: calc(100vh - 124px);
  }
}

@media (min-width: 375px) and (max-width: 665px) {
  .sidebar__head {
    height: 71px;
    padding: 7px 14px 17.44px;
  }

  .sidebar__menu {
    height: calc(100vh - 71px - 80px);
  }

  .sidebar__footer {
    padding: 28px 25px;
  }

  .table__body-wrapper {
    height: calc(100vh - 36px - 179px);
  }

  .task-status-wrapper {
    /* .mobile-status-error {
            display: block;
            img {
                margin-right: 5px;
                height: 20px;
                margin-top: -3px;
            }
        }
        .header-status {
            .line-status {
                &:before {
                    background: #4F5D73;
                }
                img {
                    display: none;
                }
            }
        } */
  }

  .task-status-wrapper .task-content {
    height: calc(100vh - 184px);
  }

  .task-status-wrapper .task-content__body {
    height: calc(100% - 162px);
  }

  .modal {
    padding-right: 0 !important;
  }

  .modal-dialog {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 64px;
  }

  .modal-body {
    padding: 39px 25px 67px;
  }

  .modal-body .form-group {
    margin-bottom: 0;
  }

  .modal-footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: none;
    padding: 0 10px 38px;
  }

  .modal-footer .btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }
}