/* default styles for all pages */

// Utils
@import 'utils/reset';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/for-plugins';

html {
    overflow: hidden;
}

// Common
body {
    // background-color: #e3e3e3;
    background-color: #fff;
    font-family: $mainFont;
    font-size: 18px;
    overflow-y: hidden;
    @media(max-width: 768px) {
        width: 768px;
    }
    @media(max-width: 767px) {
        width: 100%;
    }
}
.body {
    // max-width: 1366px;
    max-height: 100vh;
    /* width: 972.8px;
    height: 583.68px; */
    // width: 100%;
    // height: $heightContent;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    @media(max-width: 768px) {
        max-height: none;
        height: auto;
    }
}
/* .page-content {
    height: calc(100vh - 34px - 89px);
} */
.form-group {
    .form-label {
        font-family: $mainFont;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #8A93A2;
        transform: translateY(-6px);
    }
}
.form-control {
    height: 44px;
    font-family: $mainFont;
    font-style: normal;
    font-weight: normal;
    font-size: 17.5px;
    line-height: 21px;
}
.shadow-block {
    position: relative;
    &:before, &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        height: 5px;
        width: 100%;
    }
    &:before {
        top: 0;
        background: linear-gradient(to bottom, #d8d7d7, transparent);
    }
    &:after {
        bottom: 0;
        background: linear-gradient(to top, #d8d7d7, transparent);
    }
}
.icon-info {
    background: url('../static/img/icons/info.svg');
    width: 20px;
    height: 20px;
    &.grey {
        background: url('../static/img/icons/info-grey.svg') 100%/100% no-repeat;
    }
}

.modal-content {
    border: none;
}
.modal-header, .modal-body {
    padding: 32px 25px;
}
.modal-header {
    background: #321FDB;
    color: #fff;
    height: 90px;
    align-items: center;
}
.modal-title {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}

.mobile-footer-off {
    // @media(max-width: 560px) {
    .header-status {
        display: none;
    }
    .Log-in__head {
        display: none;
    }
    .task-content__head {
        display: none;
    }
    .task-content {
        height: calc(100vh - 60px);
    }
    .task-content__body {
        height: calc(100% - 25px);
        width: 100%;
    }
    .footer {
        display: none;
    }
    .shadow-block:after {
        display: none;
    }
    // }
}

// Modules
@import 'modules/breadcrums';
@import 'modules/forms';
@import 'modules/buttons';
@import 'modules/barcode-scan';
@import 'modules/accordion';
//Sections
@import 'sections/header';
@import 'sections/footer';
@import 'sections/sidebar';
@import 'sections/task-content';

// Page 
@import 'pages/log-in';
@import 'pages/table';

.mobile-status-error {
    display: none;
}

.task-status-wrapper {
    .task-content {
        height: calc(100vh - 206px);
    }
    .task-content__body {
        height: calc(100% - 84px);
    }
}

.title-h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #3C4B64;
    @media (max-width: 667px) {
        font-size: 20px;
    }
}

.task-content__head-tasks-list {
    justify-content: center;
}
.slick-multiple-items {
    visibility: hidden;
}
.tasks-list-circle-wrapper {
    // display: flex;
    // justify-content: center;
    width: calc(100% - 110px);
    .status-circle {
        margin: auto;
    }
    @media(max-width: 560px) {
        width: 100%;
    }
}
.tasks-list-circle {
    // display: flex;
    
    &__item {
        // width: 60.2px !important;
        height: 60px;
        padding: 10px;
        border-bottom: 3px solid rgba(255, 255, 255, .1);
        &.active {
            border-bottom: 3px solid #2EB85C;
            background: #DAFFE6;
        }
    }
}

.tasks-list-circle.slick-multiple-items {
    position: relative;
    .owl-nav {
        position: absolute;
        top: 0;
        left: -60px;
        width: calc(100% + 120px);
        display: flex;
        justify-content: space-between;
    }
    .slick-prev, .slick-next, .owl-prev, .owl-next {
        width: 60px;
        height: 60px;
        background-color: #EBEDEF;
        display: flex;
        justify-content: center;
        align-items: center;
        &.slick-disabled {
            opacity: .3;
        }
        &:before {
            content: '';
            color: rgba(0,0,0,0);
            background: url('./../static/img/icons/arrow--left.svg') no-repeat;
            opacity: 1;
            display: block;
            width: 25px;
            height: 23px;
            margin-top: 2px;
            // margin: auto;
        }
        & > span {
            display: none;
        }
    }
    .slick-prev, .owl-prev {
        left: -60px;
        &:before {
            margin-left: 3px;
        }
    }
    .slick-next, .owl-next {
        right: -60px;
        &:before {
            transform: rotate(180deg);
            margin-right: 3px;
        }
    }
}

.input-datepicker-wrapper {
    border: 1px solid #D8DBE0;
    border-radius: 5px;
    max-width: 273px;
    height: 60px;
    display: flex;
    align-items: center;
}
.input-datepicker {
    background-color: #fff;
    width: 100%;
}

@media(max-width: 991px) {
.field-group {
    .field-label {
        font-family: $mainFont;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
    }
    .field-text {
        font-size: 20px;
        line-height: 24px;
    }
}
}

@media(min-width: 666px) and (max-width: 667px) {
    .table__body-wrapper {
        height: calc(100vh - 36px - 179px);
    }
    .modal-header {
        height: 57px;
        padding: 16px 25px;
    }
    .modal-body {
        padding: 23px 25px 0;
    }
    .modal-footer {
        padding: 0 25px 27px;
        border-top: none;
        justify-content: flex-start;
    }
    .modal-dialog {
        margin: 14px auto;
    }
}

@media(min-width: 375px) and (max-width: 665px) {
    .table__body-wrapper {
        height: calc(100vh - 36px - 179px); 
    }
    
    .task-status-wrapper {
        /* .mobile-status-error {
            display: block;
            img {
                margin-right: 5px;
                height: 20px;
                margin-top: -3px;
            }
        }
        .header-status {
            .line-status {
                &:before {
                    background: #4F5D73;
                }
                img {
                    display: none;
                }
            }
        } */
        .task-content {
            height: calc(100vh - 184px);
        }
        .task-content__body {
            height: calc(100% - 162px);
        }
    }
    .modal {
        padding-right: 0 !important;
    }
    .modal-dialog {
        align-items: flex-start;
        margin-top: 64px;
    }
    .modal-body {
        padding: 39px 25px 67px;
        .form-group {
            margin-bottom: 0;
        }
    }
    .modal-footer {
        justify-content: space-between;
        border-top: none;
        padding: 0 10px 38px;
        .btn {
            flex: 0 0 47%
        }
    }
}

.adaptive-image {
    height: calc(100% - 120px - 230px);
    padding-left: 60px;
    img {
        width: auto;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}
.standart-name {
    padding-left: 60px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 23px;
    color: #8A93A2;
}

@media(max-width: 768px) {
    .task-content__body__radios {
        padding-left: 15px;
    }
    .adaptive-image {
        padding-left: 15px;
    }
    .standart-name {
        padding-left: 15px;
    }
}

/*----------------------------------------------------------------------------------------------*/
.hide_header{
    height: auto;
    overflow-y: visible;
}
.hide_header_body__no-scroll{
    height: auto;
    overflow: visible;
}
.ui-tabs .ui-tabs-nav{
    position: absolute;
    top: -43px;
}
.ui-tabs .ui-tabs-nav li {
    background: none !important;
}
.tab-content__warning-img{
    margin-left: 10px;
}
.tab-content__scroll{
    overflow-y: scroll;
    max-height:34vh;
}
.ui-tabs-anchor{
    display: flex;
align-items: center;
}
.tab-header__warning-ico{
    display: block;
    margin-left: 10px;
}
.ui-state-default a, .ui-state-default a:link, .ui-button{
    color: #6F737B;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor{
    color:#fff;
}
.ui-tabs .ui-tabs-panel{
    padding: 0!important;
    overflow-y:scroll!important;
    border-top: 1px solid #CACACA;
}
.tab-content__row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   padding: 20px 30px 23px 30px;
}
.tab-content__column{
    width: 33.3333333333%;
}
.global-left-block{
    display: flex;
    flex-direction: row;
  }
  .task-content__body__content{
    flex-direction: column;   
   }


.tabs_scroll{
    max-height: 50%;
    overflow-y:scroll;
}
.task-content__body {
    &.has-tabs {
        .task-content__body-inner {
           
            height: auto;
            padding-bottom: 60px;
        }
    }
}

  @media screen and (max-width: 400px) {
    .task-content__body {
        &.has-tabs {
            .task-content__body-inner {
                max-height: 100%;
                height: auto;
                padding-bottom: 10px;
            }
        }
    }
    .task-content__head-card{
        display: none;
        &.active {
            display: flex;
        }
      }
    .global-left-block{
      flex-direction: column;
      width: 100%;
    }
    .global-right-block{
        width: 100%;
    }
    .task-content__body .left-block, .task-content__body .right-block{
        width: 100%;
    }
    .tabs{
      display: none;
    }
  }
  @media screen and (min-width: 768px){
    .task-content__body {
        &.has-tabs {
            .task-content__body-inner {
                max-height: 100%;
                height: auto;
                padding-bottom: 0px;
            }
        }
    }
    .tabs{
        display: none;
      }
  }
  @media screen and (min-width: 991px){
    .task-content__body {
        &.has-tabs {
            .task-content__body-inner {
                min-height: 50%;
                max-height: 50%;
            }
        }
    }
    .task-content__head-card, .task-content__warnings-li, .task-content__body .left-block, .task-content__body .right-block{
        padding-left:30px;
    }
    .task-content__body__title{
        padding-left:30px;
    }
    
    
    #accordion {
      display: none;
    }
   
    .tabs{
        display: block;
      }
  }