.log-in-page {
    height: calc(100vh - 60px);
}
.Log-in__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media(max-width: 768px) {
        height: auto;
    }
}
.Log-in__head {
    padding: 36px;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #13152E;
    position: relative;
    &:before {
        content: '';
        display: block;
        bottom: 0;
        right: 0;
        background: url('./../../static/img/log-in.svg') 100%/cover no-repeat;
        position: absolute;
        width: 500px;
        height: 258px;
        @media (max-width: 768px) {
            width: 400px;
            height: 184px;
        }
        @media(max-width: 375px) {
            display: none;
        }
    }
    @media(max-width: 768px) {
        height: 308px;
    }
    @media(max-width: 375px) {
        height: 154px;
    }
}

.Log-in__logo {
    img {

    }
}
.Log-in__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55%;
    padding: 68px 40px;
    @media(max-width: 768px) {
        height: auto;
        padding-top: 58px;
    }
    @media(max-width: 375px) {
        padding: 23px 17px;
    }
}
.Log-in__title {
    font-family: $mainFont;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    color: $mainFontColor;
    // margin-bottom: 28px;
    /* @media (max-width: 768px) {
        margin-top: 58px;
    } */
    @media(max-width: 375px) {
        font-size: 30px;
        line-height: 35px;
    }
}
.Log-in__fields {
    margin-top: 34.96px;
    display: flex;
    justify-content: space-between;
    @media(max-width: 768px) {
        flex-wrap: wrap;
    }
    @media(max-width: 375px) {
        .btn {
            width: 100%;
        }
    }
}
.Log-in__fields-inner {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 150px);
    padding-right: 40px;
    .form-group {
        width: 48%;
        margin-bottom: 0;
    }
    @media(max-width: 768px) {
        width: 100%;
        margin-bottom: 47px;
        padding-right: 0;
    }
    @media(max-width: 375px) {
        flex-direction: column;
        margin-bottom: 37px;
        .form-group {
            width: 100%;
            margin-bottom: 23px;
        }
    }
}
.Log-in__logo-2 {
    display: none;
}

@media(min-width: 666px) and (max-width: 667px) {
    .Log-in__logo-1{
        display: none;
    }
    .Log-in__logo-2{
        display: block;
    }
    .Log-in__head {
        background-color: #fff;
        height: 70px;
        padding: 15px 21px;
        &:before {
            display: none;
        }
    }
    .Log-in__body {
        padding: 5px 21px 22px;
    }
    .Log-in__logo {
        height: 100%;
        img {
            height: 100%;
        }
    }
    .Log-in__title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    .Log-in__fields-inner {
        margin-bottom: 18px;
    }
    .Log-in__fields {
        margin-top: 0;
    }
    .Log-in__inner {
        .btn {
            width: 336px;
        }
    }
}
@media(max-width: 665px) {
    .Log-in__head {
        padding: 44px 28px;
    }
}