.table-wrapper {
    // width: 1366px;
    // height: 1024px;
}
.table {
    margin-bottom: 0;
    thead th {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.02em;
        border-bottom: none;
        &:first-child {
            padding-left: 20px;
        }
    }
    tbody {
        height: 433px;
    }
    tbody th {
        padding-left: 20px;
    }
    tr {
        display: flex;
        border-top: 1px solid #dee2e6;
        &:nth-child(even) {
            background: #FFF;
        }
        &:nth-child(odd) {
            background: #F2F2F3;
        }
    }
    th, td {
        display: inline-block;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: $mainFontSize;
        color: $mainFontColor;
        border: none;
        &:first-child {
            flex: 0 0 68px;
        }
        &:nth-child(2) {
            flex: 0 0 calc(24% - 68px / 4);
        }
        &:nth-child(3) {
            flex: 0 0 calc(24% - 68px / 4);
        }
        &:nth-child(4) {
            flex: 0 0 calc(28% - 68px / 4);
        }
        &:last-child {
            flex: 0 0 calc(24% - 68px / 4);
        }
    }
}
.table__head-wrapper {
    // padding-right: 18px;
    background: #F2F2F3;
    // border-bottom: 1px solid #dee2e6;
    .table tr:nth-child(odd) {
        background: #fff;
        border-top: none;
    }
}
.table__body-wrapper {
    overflow: auto;
    height: calc(100vh - 60px - 55px - 89px);
    &::-webkit-scrollbar {
        width: 0px;
    }
}
.table__tr {
    &:hover {
        background: #F4F2FF !important;
    }
    &.active {
        background: #E7FFEF !important;
        th {
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 7px;
                height: 100%;
                background: #2EB85C;
            }
        }
    }
}
.table-mobile {
    display: none;
    .table__tr {
        padding: 12px 14px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
    }
    .table__tr-left {
        flex: 0 0 50%;
    }
    .table__tr-right {
        flex: 0 0 50%;
    }
    .table__tr-row {
        display: flex;
        & > *:first-child, & > *:last-child {
            font-size: 16px;
        }
        & > *:first-child {
            flex: 0 0 40%;
            color: #9B9B9B;
        }
        & > *:last-child {
            flex: 0 0 60%;
            color: #3C4B64;
        }
    }
}
@media(max-width: 768px) {
    .table-desktop {
        display: none;
    }
    .table-mobile {
        display: table;
    }
    .table__head {
        display: none;
    }
    .table__tr.active th:before {
        display: none;
    }
    .table__body-wrapper {
        height: calc(100vh - 60px - 200px);
        .table__tr {
            border: 1px solid #4a4a4a;
            margin: 10px;
        }
    }
}
@media(max-width: 665px) {
    .table-mobile{
        .table__tr {
            flex-wrap: wrap;
        }
        .table__tr-left, .table__tr-right {
            flex: 0 0 100%;
        }
    }
}