<header class="header">
    <div class="container">
      <div class="row">
        <div class="block">
          <h1 class="wow animated bounce delay-2s">Example</h1>
        </div>
      </div>
    </div>
</header>