<!-- Modal -->
<div class="modal fade" id="modal-simulate-scan" tabindex="-1" role="dialog" aria-labelledby="modal-simulate-scan" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Simulate Scan</h5>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button> -->
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="inputValue" class="form-label">Value</label>
                <input class="form-control" id="inputValue" aria-describedby="inputValue" placeholder="Enter value" value="123456">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Apply</button>
        </div>
        </div>
    </div>
</div>