<script src="./Scripts/libs.min.js"></script>
<script src="./static/libs/bootstrap4/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script src="./Scripts/common.js"></script>
<script src="./Scripts/fix-24-07-2020.js"></script>
<!-- <script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
        });
    });
    function accordionSvg(el) {
        $('.accordion-header_svg').attr('src', './../../static/img/accordeon_plus.svg')
        setTimeout(function () {
            if ($(".ui-accordion-header").hasClass("ui-accordion-header-active")) {
                $(el).find('.accordion-header_svg').attr('src', './../../static/img/accordeon_minus.svg')
            }
        }, 100)
    };
</script> -->
<!-- <script>
    $(document).ready(function() {
        if ($(".ui-accordion-content-active").is(".task-content__warnings"))
        {
            $(".accordion-header_svg-warning").addClass("svg-warning-active");
        }
});
</script>
<script>
        function tabsSvgChangeColor(elTab){
            $('.tab-header__warning-ico').attr('src', './../../static/img/icons/warning.svg')
            if ($(".ui-tabs-tab").hasClass("ui-tabs-active"))
        {
            $(elTab).find('.tab-header__warning-ico').attr('src', './../../static/img/icons/warning-white.svg')
        }
        }
</script>
<script>
        function hideHeader(elInput){
            if (window.innerWidth <= 768) {
                $("body").addClass("hide_header");
                $(".body").addClass("hide_header_body__no-scroll");
                
            }
        }
        function showHeader(elInput){
            if (window.innerWidth <= 768) {
                $("body").removeClass("hide_header");
                $(".body").removeClass("hide_header_body__no-scroll");
            }
        }
        
</script> -->