<div class="sidebar" id="sidebar">
    <div class="sidebar__head">
        <a href="/" class="sidebar__image-link">
            <img src="./../../static/img/logo_2.svg" alt="">
        </a>
        <span class="sidebar__close js_close-sidebar">
            <img src="./../../static/img/icons/close.svg" alt="">
        </span>
    </div>
    <div class="sidebar__menu">
        <ul class="sidebar__menu-ul">
            <li class="sidebar__menu-li">
                <a class="sidebar__link" href="/picking-tasks.html">Picking tasks</a>
            </li>

            <li class="sidebar__menu-li">
                <a class="sidebar__link" href="/free-movement.html">Free movement</a>
            </li>
        </ul>
    </div>
    <div class="sidebar__footer">
        <a class="sidebar__link" href="/log-in.html">Log out</a>
    </div>
</div>