<div class="popup-scan error js_popup-scan">
  <header class="header-status">
      <div class="line-status">
        <span>Camera Scan</span>
      </div>
      <button type="button" class="btn btn-sidebar js_popup-scan_close">
          <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M27.3833 2.38308L25.6149 0.614746L13.9983 12.2314L2.38161 0.614746L0.613281 2.38308L12.2299 13.9997L0.613281 25.6164L2.38161 27.3847L13.9983 15.7681L25.6149 27.3847L27.3833 25.6164L15.7666 13.9997L27.3833 2.38308Z" fill="#fff"/>
          </svg>                
      </button>
  </header>
  <div class="line-status scan-status center error">
    <img src="./../../static/img/icons/error.svg" alt="">
    <span>Location wasn’t recognised</span>
  </div>
  <div class="task-content__head">
    <div class="task-content__head-card">
      <div>
        <span class="task-content__head__title">Pick the pallet</span>
        <div class="field-group success">
            <span class="field-text">254110280000003659</span>
        </div>
      </div>
      <div class="status-circle success">
          1
      </div>
    </div>
    <div class="task-content__head-card error">
      <div>
        <span class="task-content__head__title">Move to the “To location”</span>
        <div class="field-group error">
            <span class="field-text">12345678901234567890</span>
        </div>
      </div>
      <div class="status-circle error">
          2
      </div>
    </div>
  </div>

  <div class="barcode-scan">
    <img src="https://thumbs.dreamstime.com/b/barcode-7977420.jpg"/>
    <div class="barcode-masks">
      <div class="barcode-masks__visible">
        <div class="barcode-masks__border tl"></div>
        <div class="barcode-masks__border tr"></div>
        <div class="barcode-masks__border br"></div>
        <div class="barcode-masks__border bl"></div>

        <div class="barcode-masks__content">
            <p>Keep barcode in a frame for scanning</p>
        </div>
      </div>
      <div class="barcode-masks__content mobile">
        <p>Keep barcode in a frame<br/> for scanning</p>
      </div>
      <button class="btn-scan-action">
        <img src="/static/img/scan-active.svg" alt="" class="scan-icon">
        <!-- <img src="/static/img/scan-not-active.svg" alt="" class="scan-icon"> -->
      </button>
    </div>
  </div>
</div>

