<div class="tabs">
    <div id="tabs" style="min-height: 50%; height: 100%;">
      <ul>
        <li onclick="tabsSvgChangeColor(this)"><a href="#tabs-1">Salt <img class="tab-header__warning-ico"
              src="./../../static/img/icons/warning-white.svg" alt=""> </a></li>
        <li onclick="tabsSvgChangeColor(this)"><a href="#tabs-2">Crysanthemeus Oil <img
              class="tab-header__warning-ico" src="./../../static/img/icons/warning.svg" alt=""> </a></li>
        <li onclick="tabsSvgChangeColor(this)"><a href="#tabs-3">Pepper <img class="tab-header__warning-ico"
              src="./../../static/img/icons/warning.svg" alt=""> </a></li>
      </ul>
      <div>
        <div id="tabs-1">
            <div class="tab-content__scroll"> <!-- tab-content__scroll -->
              <div class="tab-content__row">
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Material identifier</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Best before</span>
                    <span class="field-text">10/10/2020</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Tracefield</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Material identifier</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Best before</span>
                    <span class="field-text">10/10/2020</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Tracefield</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tabs-2">
            <div class="tab-content__scroll"> <!-- tab-content__scroll -->
              <!-- Block "Warnings message" -->
              <div class="task-content__warnings">
                <ul class="task-content__warnings-ul">
                  <li class="task-content__warnings-li">
                    <span class="task-content__warnings__message">Pallet blocked: broken pallet</span>
                    <span class="task-content__warnings__icon"><img class="tab-content__warning-img"
                        src="./../../static/img/icons/warning.svg" alt=""></span>
                  </li>
                </ul>
              </div>
              <div class="tab-content__row">
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Material identifier</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Best before</span>
                    <span class="field-text">10/10/2020</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Tracefield</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Lot number</span>
                    <span class="field-text">L161131620</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">QTY</span>
                    <span class="field-text">20 pieces</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Tracefield</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="tabs-3">
            <div class="tab-content__scroll"> <!-- tab-content__scroll -->
              <div class="tab-content__row">
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Material identifier</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Best before</span>
                    <span class="field-text">10/10/2020</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Tracefield</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Material identifier</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Best before</span>
                    <span class="field-text">10/10/2020</span>
                  </div>
                </div>
                <div class="tab-content__column">
                  <div class="field-group">
                    <span class="field-label">Tracefield</span>
                    <span class="field-text">200000003651535</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>